<div class="middle-talent-wrp">
  <div class="talent-img">
    <img src="{{ selectedUser.displayPhotoFullPath }}" alt="" />
  </div>
  <div class="middle-outer-wrp">
    <div class="nam">
      <h3>{{ selectedUser.displayName }}</h3>
      <a class="box-btn" href="#">TAP TALENT</a>
    </div>
    <div class="talent mt-20">
      <span
        class="tlt"
        *ngFor="let categoryType of selectedUser.categoryTypes"
        >{{ categoryType.categoryTypeName }}</span
      >
      <!-- <span class="tlt">Video Editing</span>
      <span class="tlt">Photography</span>
      <span class="tlt">Video Editing</span> -->
    </div>
    <div class="address mt-30 mb-30">
      <div class="tap">
        <span>TAPS</span>
        <span class="number">{{ selectedUser.tapCount }}</span>
      </div>
      <div class="location">
        <span>LOCATION</span>
        <p>Lagos, Nigeria</p>
      </div>
      <ul class="social-link">
        <!-- <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li> -->
      </ul>
    </div>
    <div class="description">
      <p>
        {{ selectedUser.shortDescription }}
      </p>
    </div>
  </div>
</div>
