<div class="middle-talent-wrp" *ngIf="show">
  <div class="talent-img" style="text-align: center; background: lightgray;">
    <img
      [defaultImage]="defaultImage"
      [lazyLoad]="selectedUser?.displayPhotoFullPath"
      style="width: 442px; height: 293px; background: lightgray;"
    />
  </div>
  <div class="middle-outer-wrp">
    <div class="nam">
      <h3>{{ selectedUser?.displayName }}</h3>
      <a
        style="cursor: pointer;"
        class="box-btn"
        (click)="likeTalent()"
        *ngIf="(loggedInUser | async).authenticated && !hasLiked"
        >LIKE TALENT</a
      >
      <a
        style="cursor: pointer;"
        class="box-btn"
        (click)="unLikeTalent()"
        *ngIf="(loggedInUser | async).authenticated && hasLiked"
        >UNLIKE TALENT</a
      >
    </div>
    <div class="talent mt-20">
      <span
        class="tlt"
        *ngFor="let categoryType of selectedUser?.categoryTypes"
        >{{ categoryType.categoryTypeName }}</span
      >
      <!-- <span class="tlt">Video Editing</span>
      <span class="tlt">Photography</span>
      <span class="tlt">Video Editing</span> -->
    </div>
    <div class="address mt-30 mb-30">
      <div class="tap">
        <span *ngIf="selectedUser?.tappedBy.length > 1">LIKES</span>
        <span *ngIf="selectedUser?.tappedBy.length <= 1">LIKE</span>
        <span class="number">{{ selectedUser?.tappedBy.length }}</span>
      </div>
      <div class="location">
        <span>LOCATION</span>
        <p>{{ selectedUser?.location }}</p>
      </div>
      <ul class="social-link">
        <!-- <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li> -->
      </ul>
    </div>
    <div class="description">
      <p>
        {{ selectedUser?.shortDescription }}
      </p>
    </div>
  </div>
</div>

<div
  class="middle-talent-wrp"
  *ngIf="!show"
  style="text-align: center; margin: 0 auto; margin-top: 40px;"
>
  No talent found
</div>
