<div class="middle-talent-wrp">
  <div class="talent-img">
    <img src="assets/img/talent/talent-1.jpg" alt="" />
  </div>
  <div class="middle-outer-wrp">
    <div class="nam">
      <h3>Oluwa Burna</h3>
      <a class="box-btn" href="#">TAP TALENT</a>
    </div>
    <div class="talent mt-20">
      <span class="tlt">Photography</span>
      <span class="tlt">Video Editing</span>
      <span class="tlt">Photography</span>
      <span class="tlt">Video Editing</span>
    </div>
    <div class="address mt-30 mb-30">
      <div class="tap">
        <span>TAPS</span>
        <span class="number">500,000</span>
      </div>
      <div class="location">
        <span>LOCATION</span>
        <p>Lagos, Nigeria</p>
      </div>
      <ul class="social-link">
        <!-- <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li> -->
      </ul>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
        similique nihil officiis minima optio harum dolores amet, et, qui quos
        aliquid assumenda cum blanditiis voluptatibus natus, consequuntur nam
        rem id veniam. Veritatis, iusto quod nostrum unde quidem eos est officia
        ipsam velit asperiores praesentium dolor nobis! Aut voluptatibus eius
        non sit nobis sapiente, dolor eaque ullam dolorem sunt earum atque error
        mollitia qui? Sapiente repellat nam ullam hic alias voluptatibus
        debitis, consequatur nostrum, voluptate quia tempore! Eos alias fuga
        quibusdam? Asperiores deserunt facere, sapiente hic adipisci cupiditate
        voluptates! Nisi inventore impedit laudantium, quo itaque ea non
        similique eius voluptatibus accusamus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum
        necessitatibus saepe accusamus magnam voluptatum, quis tempore, atque
        repellendus nihil quod iusto ullam nostrum, expedita corporis porro
        libero? Quas numquam facere, laboriosam nihil dolorem veritatis.
        Provident, voluptatibus labore commodi, ratione, atque sequi maiores
        iure perferendis rem tenetur quasi velit maxime.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nobis
        inventore suscipit alias magnam nemo at adipisci doloremque sequi
        beatae?
      </p>
    </div>
  </div>
</div>
