<div class="category">
    <span>Acting</span>
    <span>Drumming</span>
    <span>Contortion</span>
    <span>Acting</span>
    <a href="#"><span><i class="fas fa-plus"></i></span></a>
    <input class="category" type="text">
    <ul name="" class="select">
      <option value="">Start typing to search / appears after clicking plus</option>
      <option value="">Start typing to search / appears after clicking plus</option>
      <option value="">Start typing to search / appears after clicking plus</option>
      <option value="">Start typing to search / appears after clicking plus</option>
      <option value="">Start typing to search / appears after clicking plus</option>
    </ul>
</div>