<div
  class="single-contest-list"
  *ngFor="let contest of pendingContests; let i = index"
  style="margin-bottom: 1rem; cursor: pointer"
>
  <div class="contest-list-main-inner" (click)="onContestSelected(contest, i)">
    <div class="c-name">
      <h4 [class.c-name-contest-active]="selectedIndex === i && showContent">
        {{ i + 1 }}. {{ contest.title }}
      </h4>
    </div>
    <div class="c-rating"></div>
    <div class="c-comments"></div>
  </div>
  <div
    [class.show-contest]="selectedIndex === i && showContent"
    class="collapse mt-50"
  >
    <div class="over-view-area" [formGroup]="contestRejectionForm">
      <div class="container-fluid">
        <div class="row overview-mobile">
          <div class="col-lg-7">
            <div class="over-view-all-content">
              <div class="single-over-view-contnet-blk text-word-wrap">
                <h4>Contest information</h4>
                <p>
                  {{ contest.information }}
                  Contest information
                </p>
              </div>
              <!-- <div class="single-over-view-contnet-blk">
                <h4>Eligible category</h4>
                <p>{{ eligibleCategories }}</p>
              </div> -->
              <div class="single-over-view-contnet-blk">
                <h4>Contest duration</h4>
                <p>
                  {{ contest.startDate | date }} →
                  {{ contest.endDate | date }}
                </p>
              </div>
              <div class="single-over-view-contnet-blk">
                <h4>Prize/Prizes</h4>
                <span
                  *ngFor="let prize of contest.redeemable"
                  [ngSwitch]="prize.name"
                >
                  <li *ngSwitchCase="'position1'">
                    1st Place :
                    {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                  </li>
                  <li *ngSwitchCase="'position2'">
                    2nd Place :
                    {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                  </li>
                  <li *ngSwitchCase="'position3'">
                    3rd Place :
                    {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                  </li>
                  <li *ngSwitchCase="'position4'">
                    4th Place :
                    {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                  </li>
                  <li *ngSwitchCase="'position5'">
                    5th Place :
                    {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                  </li>
                </span>
              </div>
              <div class="single-over-view-contnet-blk">
                <h4>Submission Media Type</h4>
                <p>{{ contest.entryMediaType | uppercase }}</p>
              </div>
              <div
                class="c-b-votes-btn"
                style="
                  display: flex;
                  justify-content: space-between;
                  margin-left: -1.2rem;
                  max-width: 100%;
                "
              >
                <button
                  type="button"
                  (click)="onApproveContest(contest._id)"
                  [disabled]="
                    (approvalInProgress$ | async) ||
                    (!approvalIsCompleted$ | async) ||
                    (!approvalFailed$ | async)
                  "
                  #contestApprovalButton
                  class="box-btn"
                  style="margin-right: 1rem"
                >
                  <span
                    *ngIf="
                      (approvalIsInitiated$ | async) ||
                      (approvalIsCompleted$ | async) ||
                      (approvalFailed$ | async)
                    "
                    >APPROVE</span
                  >
                  <span
                    *ngIf="
                      (approvalInProgress$ | async) ||
                      (!approvalIsCompleted$ | async)
                    "
                    >PROCESSING...</span
                  >
                </button>

                <button
                  type="button"
                  #contestRejectionButton
                  (click)="onRejectContest(contest._id)"
                  [disabled]="
                    (rejectionInProgress$ | async) ||
                    (!rejectionIsCompleted$ | async) ||
                    (!rejectionFailed$ | async)
                  "
                  class="box-btn"
                  style="margin-right: 1rem"
                >
                  <span
                    *ngIf="
                      (rejectionIsInitiated$ | async) ||
                      (rejectionIsCompleted$ | async) ||
                      (rejectionFailed$ | async)
                    "
                    >REJECT</span
                  >
                  <span
                    *ngIf="
                      (rejectionInProgress$ | async) ||
                      (!rejectionIsCompleted$ | async)
                    "
                    >processing...</span
                  >
                </button>
                <textarea
                  class="input-design"
                  placeholder="Rejection reason"
                  cols="30"
                  rows="20"
                  style="resize: none; margin-right: 1rem"
                  formControlName="reason"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="side-img">
              <img
                style="width: 280px; height: 180px"
                src="{{ cloudFrontDomain }}/{{ contest.bannerImage }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
