<div class="contest-wrapper mb-30 div-cursor">
  <div class="contest-img">
    <!-- <a [routerLink]="['/product', product.id]"></a> -->
    <a
      [routerLink]="['./', 'd8u4848d48d884djd4']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="visited"
      ><img src="assets/img/contest/contest-1.jpg" alt=""
    /></a>
    <div class="entries-content all-ent contest">
      <span class="ent-num">200 Entries</span>
    </div>
  </div>
  <div class="contesst-img-content">
    <h4>Top Lagos singer challenge</h4>
    <div class="i-text">
      <p><img src="assets/img/eye.svg" alt="" /> 2,030</p>
      <p><img src="assets/img/grid.svg" alt="" /> 400 Entries</p>
    </div>
  </div>
</div>
