<div class="row mb-50" *ngIf="userAudiosLength > 0">
  <div class="col-xl-12">
    <div class="profile-alb-head">
      <h4>
        Audio Album<span
          >({{ userAudiosLength }} album<i *ngIf="userAudiosLength > 1">s</i
          >)</span
        >
      </h4>
    </div>
  </div>
  <div
    class="col-xl-4 col-lg-4 col-md-4 col-sm-6"
    *ngFor="let item of userAudioPreviews; let i = index"
  >
    <div
      class="profile-alb-wrapper mb-30"
      (click)="openModalDialog('gigs-modal', item._id)"
    >
      <div class="alb-image">
        <img src="{{ item.artCover }}" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">{{ item.activityCount }}</span>
      </div>
      <div class="alb-content">
        <h4>{{ item.title }}</h4>
        <p>{{ item.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>
