<div class="row mb-50">
  <div class="col-xl-12">
    <div class="profile-alb-head">
      <h4>
        Audio Album<span>({{ userImage }} albums)</span>
      </h4>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
    <div class="profile-alb-wrapper mb-30">
      <div class="alb-image">
        <img src="assets/img/profile/alb-pic-1.jpg" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">20</span>
      </div>
      <div class="alb-content">
        <h4>My night at feta</h4>
        <p>
          At ullam sint esse. Ipsum libero beatae dignissimos et earum
          reiciendis aut iure. Reiciendis occaecati accusamus. Iste accusantium
          rerum.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
    <div class="profile-alb-wrapper mb-30">
      <div class="alb-image">
        <img src="assets/img/profile/alb-pic-1.jpg" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">20</span>
      </div>
      <div class="alb-content">
        <h4>My night at feta</h4>
        <p>
          At ullam sint esse. Ipsum libero beatae dignissimos et earum
          reiciendis aut iure. Reiciendis occaecati accusamus. Iste accusantium
          rerum.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
    <div class="profile-alb-wrapper mb-30">
      <div class="alb-image">
        <img src="assets/img/profile/alb-pic-1.jpg" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">20</span>
      </div>
      <div class="alb-content">
        <h4>My night at feta</h4>
        <p>
          At ullam sint esse. Ipsum libero beatae dignissimos et earum
          reiciendis aut iure. Reiciendis occaecati accusamus. Iste accusantium
          rerum.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
    <div class="profile-alb-wrapper mb-30">
      <div class="alb-image">
        <img src="assets/img/profile/alb-pic-1.jpg" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">20</span>
      </div>
      <div class="alb-content">
        <h4>My night at feta</h4>
        <p>
          At ullam sint esse. Ipsum libero beatae dignissimos et earum
          reiciendis aut iure. Reiciendis occaecati accusamus. Iste accusantium
          rerum.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
    <div class="profile-alb-wrapper mb-30">
      <div class="alb-image">
        <img src="assets/img/profile/alb-pic-1.jpg" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">20</span>
      </div>
      <div class="alb-content">
        <h4>My night at feta</h4>
        <p>
          At ullam sint esse. Ipsum libero beatae dignissimos et earum
          reiciendis aut iure. Reiciendis occaecati accusamus. Iste accusantium
          rerum.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
    <div class="profile-alb-wrapper mb-30">
      <div class="alb-image">
        <img src="assets/img/profile/alb-pic-1.jpg" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">20</span>
      </div>
      <div class="alb-content">
        <h4>My night at feta</h4>
        <p>
          At ullam sint esse. Ipsum libero beatae dignissimos et earum
          reiciendis aut iure. Reiciendis occaecati accusamus. Iste accusantium
          rerum.
        </p>
      </div>
    </div>
  </div>
</div>
