<!-- Over view area start -->

<div class="over-view-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="success-top-text">
          <h3>Payment Success</h3>
          <h1>
            Order #{{ currentOrder.order.orderNumber }} <br />
            <span style="font-size: 16px"
              >Your competition will go live once it has been reviewed and
              approved by an Admin</span
            >
            <!-- <a
              [routerLink]="['/competitions', currentContest._id]"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="visited"
              >view competition</a
            > -->
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="success-left-img">
          <img
            style="width: 366.33px; height: 300.14"
            src="{{ bannerImage }}"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-8">
        <div class="success-right-content">
          <h1>{{ currentContest.title }}</h1>
          <h4>
            Contest Start date:
            <span>{{ currentContest.startDate | date }}</span>
          </h4>
          <h4>
            Contest duration: <span>{{ differenceInDays }}</span>
          </h4>
          <!-- <div class="sc-des" *ngIf="currentContest.submissionRules !== ''">
            <h4>Submission rules</h4>
            <p>
              {{ currentContest.submissionRules }}
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Over view area end -->
