        <!-- Sign-UP Area Start -->
        <div class="sign-up-area fx-padding pt-120 pb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="left-wrapper">
                            <div class="head text-left mb-45">
                                <span>Sign Up to</span>
                                <h3>Join the Community</h3>
                            </div>
                            <ul class="community-ctg">
                                <li>
                                    <div class="community-wrp">
                                        <div class="left-wrp">
                                            <label class="round">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="right-wrp">
                                            <div class="talent-sign-up">
                                                    <span class="iconn"><img src="assets/img/i2.svg" alt=""></span>
                                                    <h4>Talents</h4>
                                                </div>
                                                <p>Register as a talents to be able to create personalised page, upload items (image, audio, video) to portfolio, receive mail from professionals, enter contest and send portfolio to a professional.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="community-wrp">
                                        <div class="left-wrp">
                                            <label class="round">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="right-wrp">
                                            <div class="talent-sign-up">
                                                    <span class="iconn"><img src="assets/img/i3.svg" alt=""></span>
                                                    <h4>Talents</h4>
                                                </div>
                                                <p>As a professional you will be able to search pool of talents and view talent’s personalised page. A professional can vote for a talent during competition and comment on a Talent’s act in the portfolio. A professional can set appointment to see a talent he/she is interested in.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="community-wrp">
                                        <div class="left-wrp">
                                            <label class="round">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="right-wrp">
                                            <div class="talent-sign-up">
                                                    <span class="iconn"><img src="assets/img/audience.svg" alt=""></span>
                                                    <h4>Talents</h4>
                                                </div>
                                                <p>Register to support your favourite talents </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <form class="login-form mt-40" action="#">
                                <label for="">Name</label>
                                <input class="input-design mb-45" type="text">
                                <label for="">Email</label>
                                <input class="input-design mb-45" type="email">
                                <label for="">Password</label>
                                <input class="input-design" type="password">
                                <label class="form round">
                                    <input type="checkbox" checked="checked">
                                    I agree to everything, so help me God amen.
                                    <span class="checkmark"></span>
                                </label>
                                <button class="box-btn login-btn mt-50">Login</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign-UP Area End -->