<!-- Log-In Area Start -->
<div class="login-area pt-75 pb-100">
  <div class="container-fluid">
    <div class="login-wrapper">
      <div class="head text-center mb-30">
        <span>Reset Password</span>
        <h3>Create a new password</h3>
      </div>
      <div class="login-form" [formGroup]="newPasswordForm">
        <label for="">
          <span
            class="error-block"
            *ngIf="
              !newPasswordForm.get('password').valid &&
              newPasswordForm.get('password').touched
            "
          >
            Please enter
          </span>
          New Password</label
        >
        <input
          class="input-design mb-35"
          type="password"
          formControlName="password"
        />
        <label for="">
          <span
            class="error-block"
            *ngIf="
              newPasswordForm
                .get('confirmPassword')
                .hasError('confirmValidator')
            "
          >
            Password and Confirm Password must match.
          </span>
          <span
            class="error-block"
            *ngIf="
              !newPasswordForm.get('confirmPassword').valid &&
              newPasswordForm.get('confirmPassword').touched &&
              !newPasswordForm
                .get('confirmPassword')
                .hasError('confirmValidator')
            "
          >
            Please enter
          </span>
          Confirm Password</label
        >
        <input
          class="input-design"
          type="password"
          formControlName="confirmPassword"
        />
        <button class="box-btn login-btn mt-50" (click)="onReset()">
          Reset
        </button>
      </div>
      <div class="log-other reset-pswd text-center mt-55">
        <span>Back to Signin</span>
      </div>
    </div>
  </div>
</div>
<!-- Log-In Area End -->
