<!-- authenticated user drop down -->
<li class="bell"><a href="#"><i class="far fa-bell"></i></a><span>4</span></li>
<li class="user"><img src="assets/img/contest/user.png" alt=""> 
<span>Ojo Lake</span>
<div class="drpdown">
    <ul class="top">
        <li><a href="#">Contests</a></li>
        <li><a href="#">Gigs</a></li>
        <li><a href="#">Appointments</a></li>
        <li><a href="#">New Portfolio Upload</a></li>
    </ul>
    <ul class="bot">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div>
</li>
<!-- authenticated user drop down -->