<!-- Header bar section complate -->
<!-- Contest Area Start -->
<div class="contest-details-area pt-40 pb-60 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="back-btn">
          <a
            style="cursor: pointer;"
            (click)="navigateToPrevious()"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            ><i class="fas fa-long-arrow-alt-left"></i>Back</a
          >
        </div>
      </div>
    </div>
    <div class="row mb-70">
      <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="details-wrapper mb-30">
          <img
            [defaultImage]="defaultBannerImage"
            [lazyLoad]="fullBannerImage"
            style="width: 448px; height: 451px; background: lightgray;"
            alt=""
          />
          <span>{{ entriesCount }} Entries</span>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7">
        <div class="details-content">
          <div style="text-align: right; margin-bottom: 20px;">
            <a
              class="box-btn details-btn"
              style="cursor: pointer; margin-right: 20px;"
              *ngIf="!hasEnded && isEligible"
              (click)="openModalDialog('new-entry')"
            >
              Enter Contest</a
            >
            <a class="box-btn details-btn" style="cursor: pointer;"
              >View Vote Analysis</a
            >
          </div>
          <div class="heading mb-10">
            <h2>{{ contestDetails.contest.title }}</h2>
          </div>
          <div class="content-block">
            <div class="content-inner-block">
              <h4>Basic info</h4>
              <p>
                {{ contestDetails.contest.information }}
              </p>
            </div>
            <div
              class="content-inner-block"
              *ngIf="eligibleCategories.length > 0"
            >
              <h4>Eligible categories</h4>
              <p>
                {{ eligibleCategories }}
              </p>
            </div>
            <div
              class="content-inner-block"
              *ngIf="contestDetails.contest.eligibilityInfo !== null"
            >
              <h4>Eligibility:</h4>
              <p>
                {{ contestDetails.contest.eligibilityInfo }}
              </p>
            </div>
            <div
              class="content-inner-block"
              *ngIf="contestDetails.contest.submissionRules !== null"
            >
              <h4>Submission rules:</h4>
              <p>
                {{ contestDetails.contest.submissionRules }}
              </p>
            </div>
            <div class="content-inner-block">
              <h4>Prize</h4>
              <div class="prz-list">
                <li *ngFor="let prize of contestDetails.contest.redeemable">
                  {{ prize.name }}
                  :
                  {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                </li>
              </div>
            </div>
          </div>
        </div>
        <ul class="details-info">
          <li>
            <span>Registration & submission:</span>
            {{ contestDetails.contest.startDate | date: "medium" }} →
            {{ contestDetails.contest.endDate | date: "medium" }}
          </li>
          <li>
            <span>Voting:</span>
            {{ contestDetails.contest.startDate | date: "medium" }} →
            {{ contestDetails.contest.endDate | date: "long" }}
          </li>
          <!-- <li><span>Winner announced:</span>March 21!</li> -->
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="entries-header">
          <span>Vote and comment on</span>
          <h3>Latest Entries</h3>
        </div>
      </div>
    </div>

    <app-modals [id]="'new-entry'">
      <div class="pop-icon-bar pop-talent" navigate>
        <button
          type="button"
          class="close"
          (click)="closeModalDialog('new-entry')"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <app-contest-entry
        [selectedContest]="contestDetails"
        body
      ></app-contest-entry>
    </app-modals>

    <app-modals [id]="'talent-entry-details'">
      <div class="pop-icon-bar" navigate style="padding-right: 16px;">
        <div class="slide-arrow">
          <a class="left"><i class="far fa-angle-left"></i></a>
          <a class="right"><i class="far fa-angle-right"></i></a>
        </div>
        <button
          type="button"
          class="close"
          (click)="closeModalDialog('talent-entry-details')"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <app-contest-entry-modal-content body></app-contest-entry-modal-content>
    </app-modals>

    <div class="row" *ngIf="contestDetails.submissions.length > 0">
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l"
        *ngFor="let item of contestDetails.submissions; let i = index"
      >
        <div class="entries-img mb-20">
          <a (click)="openModalDialog('talent-entry-details', item)"
            ><img src="assets/img/contest/entries-1.jpg" alt=""
          /></a>

          <div class="entries-content">
            <h4>{{ item.entry.user["fullName"] || "" }}</h4>
            <ul class="count">
              <li>
                <i class="fas fa-heart"></i>{{ item.entry.likedBy.length || 0 }}
              </li>
              <li>
                <i class="fas fa-comment-alt"></i
                >{{ contestDetails.submissions[i].commentCount || 0 }}
              </li>
              <div class="count-img">
                <img src="{{ item.fullUserProfileImage }}" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row entries-container"
      *ngIf="contestDetails.submissions.length === 0"
    >
      <span> No Entries</span>
    </div>
  </div>
</div>
<!-- Contest Area End -->
