<!-- Header bar section complate -->
<!-- Contest Area Start -->
<div class="contest-details-area pt-40 pb-60 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="back-btn">
          <a
            routerLink="/contests"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            ><i class="fas fa-long-arrow-alt-left"></i>Back</a
          >
        </div>
      </div>
    </div>
    <div class="row mb-70">
      <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="details-wrapper mb-30">
          <img src="{{ fullBannerImage }}" alt="" />
          <span>{{ entriesCount }} Entries</span>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7">
        <div class="details-content">
          <div class="heading mb-10">
            <h2>{{ contestDetails.contest.title }}</h2>
            <a
              class="box-btn details-btn"
              style="cursor: pointer;"
              *ngIf="!hasEnded"
              (click)="openModalDialog('new-entry')"
              >Enter Contest</a
            >
          </div>
          <div class="content-block">
            <div class="content-inner-block">
              <h4>Basic info</h4>
              <p>
                {{ contestDetails.contest.information }}
              </p>
            </div>
            <div
              class="content-inner-block"
              *ngIf="eligibleCategories.length > 0"
            >
              <h4>Eligible categories</h4>
              <p>
                {{ eligibleCategories }}
              </p>
            </div>
            <div
              class="content-inner-block"
              *ngIf="contestDetails.contest.eligibilityInfo !== null"
            >
              <h4>Eligibility:</h4>
              <p>
                {{ contestDetails.contest.eligibilityInfo }}
              </p>
            </div>
            <div
              class="content-inner-block"
              *ngIf="contestDetails.contest.submissionRules !== null"
            >
              <h4>Submission rules:</h4>
              <p>
                {{ contestDetails.contest.submissionRules }}
              </p>
            </div>
            <div class="content-inner-block">
              <h4>Prize</h4>
              <div class="prz-list">
                <li *ngFor="let prize of contestDetails.contest.redeemable">
                  {{ prize.name }}
                  :
                  {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
                </li>
              </div>
            </div>
          </div>
        </div>
        <ul class="details-info">
          <li>
            <span>Registration & submission:</span>
            {{ contestDetails.contest.startDate | date: "medium" }} →
            {{ contestDetails.contest.endDate | date: "medium" }}
          </li>
          <li>
            <span>Voting:</span>
            {{ contestDetails.contest.startDate | date: "medium" }} →
            {{ contestDetails.contest.endDate | date: "long" }}
          </li>
          <!-- <li><span>Winner announced:</span>March 21!</li> -->
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="entries-header">
          <span>Vote and comment on</span>
          <h3>Latest Entries</h3>
        </div>
      </div>
    </div>

    <app-modals [id]="'new-entry'">
      <div class="pop-icon-bar pop-talent" navigate>
        <button
          type="button"
          class="close"
          (click)="closeModalDialog('new-entry')"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <app-contest-entry
        [selectedContest]="contestDetails"
        body
      ></app-contest-entry>
    </app-modals>

    <div
      class="modal fade"
      id="contest-details"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content contest-d">
          <div class="pop-icon-bar">
            <div class="slide-arrow">
              <a class="left"><i class="far fa-angle-left"></i></a>
              <a class="right"><i class="far fa-angle-right"></i></a>
            </div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="far fa-times"></i></span>
            </button>
          </div>
          <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6 col-12">
              <div class="popup-img">
                <img src="assets/img/contest/popup-1.jpg" alt="" />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12">
              <div class="popup-content-wrap">
                <div class="user-part">
                  <div class="p-user">
                    <div class="p-user-img">
                      <img src="assets/img/contest/popup-user.png" alt="" />
                    </div>
                    <h5>Fred Fadel</h5>
                  </div>
                  <div class="p-user-content">
                    <h4>Dorobuchi remix</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt ut labore et dolore
                      magna aliquyam erat, sed diam
                    </p>
                  </div>
                  <div class="pop-btn">
                    <a class="box-btn details-btn pop" href="#"
                      >VOTE THIS ENTRY</a
                    >
                    <span class="numb">Votes (560)</span>
                  </div>
                  <div class="info-xt">
                    <p>20 Votes left</p>
                    <a href="">Buy more vote </a>
                    <span>or</span>
                    <p>Text "BESTRAP 103 Marvel Fash" To 55609</p>
                  </div>
                </div>
                <div class="comment-part">
                  <span class="comment-num">Coments (560)</span>
                  <div class="comment-acheive">
                    <img src="assets/img/contest/sms.png" alt="" />
                    <a
                      href="#collapseExample"
                      data-toggle="collapse"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseExample"
                      >Add your comment</a
                    >
                  </div>
                </div>
                <div class="collapse cmnt-bx" id="collapseExample">
                  <div class="card card-body">
                    <textarea
                      name=""
                      id=""
                      cols="10"
                      rows="5"
                      placeholder="Write your comment here..."
                    ></textarea>
                    <button type="submit">Send</button>
                  </div>
                </div>
                <div class="pop-review-outer-section">
                  <div class="pop-review-section">
                    <div class="p-rv-head">
                      <div class="p-rev-img">
                        <img src="assets/img/contest/popup-user.png" alt="" />
                      </div>
                      <div class="p-rv-name">
                        <h5>Oluwaleke Ojo</h5>
                      </div>
                      <span class="p-time">20 days ago </span>
                    </div>
                    <div class="p-rv-content">
                      <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo
                      </p>
                      <div class="pop-express">
                        <div class="p-like-reply">
                          <span class="reply">Reply</span>
                          <span class="like">Like?</span>
                        </div>
                        <span class="react">
                          20
                          <img src="assets/img/contest/p-love.png" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="pop-review-section">
                    <div class="p-rv-head">
                      <div class="p-rev-img">
                        <img src="assets/img/contest/popup-user.png" alt="" />
                      </div>
                      <div class="p-rv-name">
                        <h5>Oluwaleke Ojo</h5>
                      </div>
                      <span class="p-time">20 days ago </span>
                    </div>
                    <div class="p-rv-content">
                      <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo
                      </p>
                      <div class="pop-express">
                        <div class="p-like-reply">
                          <span class="reply">Reply</span>
                          <span class="like">Like?</span>
                        </div>
                        <span class="react">
                          20
                          <img src="assets/img/contest/p-love.png" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="pop-review-section">
                    <div class="p-rv-head">
                      <div class="p-rev-img">
                        <img src="assets/img/contest/popup-user.png" alt="" />
                      </div>
                      <div class="p-rv-name">
                        <h5>Oluwaleke Ojo</h5>
                      </div>
                      <span class="p-time">20 days ago </span>
                    </div>
                    <div class="p-rv-content">
                      <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo
                      </p>
                      <div class="pop-express">
                        <div class="p-like-reply">
                          <span class="reply">Reply</span>
                          <span class="like">Like?</span>
                        </div>
                        <span class="react">
                          20
                          <img src="assets/img/contest/p-love.png" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="contestDetails.submissions.length > 0">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
        <div class="entries-img mb-20">
          <a
            href="#contest-details"
            data-toggle="modal"
            data-target="#contest-details"
            ><img src="assets/img/contest/entries-1.jpg" alt=""
          /></a>

          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-r">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt="" /></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt="" /></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-r">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt="" /></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt="" /></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-r">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt="" /></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="contestDetails.submissions.length === 0">
      <span> No Entries</span>
    </div>
  </div>
</div>
<!-- Contest Area End -->
