<!-- Header bar section complate -->
<!-- Contest Area Start -->
<div class="contest-details-area pt-40 pb-60 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="back-btn">
          <a
            routerLink="/contests"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            ><i class="fas fa-long-arrow-alt-left"></i>Back</a
          >
        </div>
      </div>
    </div>
    <div class="row mb-70">
      <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="details-wrapper mb-30">
          <img src="assets/img/contest/contest-details.jpg" alt="" />
          <span>200 Entries</span>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7">
        <div class="details-content">
          <div class="heading mb-10">
            <h2>So you think you can sing</h2>
            <a class="box-btn details-btn" href="#">Enter Contest</a>
          </div>
          <div class="content-block">
            <div class="content-inner-block">
              <h4>Basic info</h4>
              <p>
                Sing a creative an original cover of any of your favourite Mohit
                record songs and upload.
              </p>
            </div>
            <div class="content-inner-block">
              <h4>Eligibility:</h4>
              <p>
                Producers, singers and instrumentalists based in Lagos State are
                eligible.
              </p>
            </div>
            <div class="content-inner-block">
              <h4>Submission rules:</h4>
              <p>
                The file is shared with us, your submission is related to and
                created for the contest, it’s unique and your own Don’t forget
                you’re only allowed to make one submission per contest
              </p>
            </div>
            <div class="content-inner-block">
              <h4>Prize</h4>
              <p>
                The winner will have their best works featured in the new Mohit
                video and shared with 400,000+ fans from around the world
                including companies.
              </p>
            </div>
          </div>
        </div>
        <ul class="details-info">
          <li>
            <span>Registration & submission:</span>February 25 → March 10 (2
            weeks)
          </li>
          <li>
            <span>Voting:</span>March 11 → March 20 (10 days) Midnignt PST
          </li>
          <li><span>Winner announced:</span>March 21!</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="entries-header">
          <span>Vote and comment on</span>
          <h3>Latest Entries</h3>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="contest-details"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content contest-d">
          <div class="pop-icon-bar">
            <div class="slide-arrow">
              <a class="left"><i class="far fa-angle-left"></i></a>
              <a class="right"><i class="far fa-angle-right"></i></a>
            </div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="far fa-times"></i></span>
            </button>
          </div>
          <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6 col-12">
              <div class="popup-img">
                <img src="assets/img/contest/popup-1.jpg" alt="" />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12">
              <div class="popup-content-wrap">
                <div class="user-part">
                  <div class="p-user">
                    <div class="p-user-img">
                      <img src="assets/img/contest/popup-user.png" alt="" />
                    </div>
                    <h5>Fred Fadel</h5>
                  </div>
                  <div class="p-user-content">
                    <h4>Dorobuchi remix</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt ut labore et dolore
                      magna aliquyam erat, sed diam
                    </p>
                  </div>
                  <div class="pop-btn">
                    <a class="box-btn details-btn pop" href="#"
                      >VOTE THIS ENTRY</a
                    >
                    <span class="numb">Votes (560)</span>
                  </div>
                  <div class="info-xt">
                    <p>20 Votes left</p>
                    <a href="">Buy more vote </a>
                    <span>or</span>
                    <p>Text "BESTRAP 103 Marvel Fash" To 55609</p>
                  </div>
                </div>
                <div class="comment-part">
                  <span class="comment-num">Coments (560)</span>
                  <div class="comment-acheive">
                    <img src="assets/img/contest/sms.png" alt="" />
                    <a
                      href="#collapseExample"
                      data-toggle="collapse"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseExample"
                      >Add your comment</a
                    >
                  </div>
                </div>
                <div class="collapse cmnt-bx" id="collapseExample">
                  <div class="card card-body">
                    <textarea
                      name=""
                      id=""
                      cols="10"
                      rows="5"
                      placeholder="Write your comment here..."
                    ></textarea>
                    <button type="submit">Send</button>
                  </div>
                </div>
                <div class="pop-review-outer-section">
                  <div class="pop-review-section">
                    <div class="p-rv-head">
                      <div class="p-rev-img">
                        <img src="assets/img/contest/popup-user.png" alt="" />
                      </div>
                      <div class="p-rv-name">
                        <h5>Oluwaleke Ojo</h5>
                      </div>
                      <span class="p-time">20 days ago </span>
                    </div>
                    <div class="p-rv-content">
                      <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo
                      </p>
                      <div class="pop-express">
                        <div class="p-like-reply">
                          <span class="reply">Reply</span>
                          <span class="like">Like?</span>
                        </div>
                        <span class="react">
                          20
                          <img src="assets/img/contest/p-love.png" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="pop-review-section">
                    <div class="p-rv-head">
                      <div class="p-rev-img">
                        <img src="assets/img/contest/popup-user.png" alt="" />
                      </div>
                      <div class="p-rv-name">
                        <h5>Oluwaleke Ojo</h5>
                      </div>
                      <span class="p-time">20 days ago </span>
                    </div>
                    <div class="p-rv-content">
                      <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo
                      </p>
                      <div class="pop-express">
                        <div class="p-like-reply">
                          <span class="reply">Reply</span>
                          <span class="like">Like?</span>
                        </div>
                        <span class="react">
                          20
                          <img src="assets/img/contest/p-love.png" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="pop-review-section">
                    <div class="p-rv-head">
                      <div class="p-rev-img">
                        <img src="assets/img/contest/popup-user.png" alt="" />
                      </div>
                      <div class="p-rv-name">
                        <h5>Oluwaleke Ojo</h5>
                      </div>
                      <span class="p-time">20 days ago </span>
                    </div>
                    <div class="p-rv-content">
                      <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero
                        eos et accusam et justo
                      </p>
                      <div class="pop-express">
                        <div class="p-like-reply">
                          <span class="reply">Reply</span>
                          <span class="like">Like?</span>
                        </div>
                        <span class="react">
                          20
                          <img src="assets/img/contest/p-love.png" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
        <div class="entries-img mb-20">
          <a
            href="#contest-details"
            data-toggle="modal"
            data-target="#contest-details"
            ><img src="assets/img/contest/entries-1.jpg" alt=""
          /></a>

          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-r">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt=""/></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt=""/></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-r">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt=""/></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt=""/></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-r">
        <div class="entries-img mb-20">
          <a href="#"><img src="assets/img/contest/entries-1.jpg" alt=""/></a>
          <div class="entries-content">
            <h4>Fred Fadel</h4>
            <ul class="count">
              <li><i class="fas fa-heart"></i>1,530</li>
              <li><i class="fas fa-comment-alt"></i>560</li>
              <div class="count-img">
                <img src="assets/img/contest/counter-img-1.png" alt="" />
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-100">
      <div class="offset-xl-2 col-xl-8 col-lg-8 col-md-8 col-12">
        <nav
          class="contest-pagination entries"
          aria-label="Page navigation example"
        >
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Contest Area End -->
