<div
  aria-label="Page navigation example row"
  style="cursor: pointer; display: block;"
>
  <ul class="pagination">
    <li class="page-item" (click)="onSelectCategory(-1, 'all')">
      <a class="page-link" [class.page-link-active]="allSelected">All</a>
    </li>
    <li
      class="page-item"
      (click)="onSelectCategory(i, category.name)"
      *ngFor="let category of orderedCategories; let i = index"
    >
      <a
        class="page-link"
        [class.page-link-active]="orderedCategories[i].selected"
        >{{ category.name }}</a
      >
    </li>
    <li class="page-item page-item-right" (click)="onNext()">
      <a class="page-link"><i class="fas fa-chevron-right"></i></a>
    </li>
  </ul>
</div>
