<div aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngFor="let category of orderedCategories">
      <a class="page-link">{{ category.name }}</a>
    </li>
    <li class="page-item" (click)="onNext()">
      <a class="page-link"><i class="fas fa-chevron-right"></i></a>
    </li>
  </ul>
</div>

<!-- <div aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">Singing</a></li>
    <li class="page-item"><a class="page-link" href="#">Dancing</a></li>
    <li class="page-item"><a class="page-link" href="#">Acting</a></li>
    <li class="page-item"><a class="page-link" href="#">Drumming</a></li>
    <li class="page-item"><a class="page-link" href="#">Contortion</a></li>
    <li class="page-item">
      <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
    </li>
  </ul>
</div> -->
