<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mrzn-l">
  <div class="entries-img mb-20">
    <a
      href="#contest-details"
      data-toggle="modal"
      data-target="#contest-details"
      ><img src="assets/img/contest/entries-1.jpg" alt=""
    /></a>

    <div class="entries-content">
      <h4>{{ contestEntry.entry.user["fullName"] }}</h4>
      <ul class="count">
        <li><i class="fas fa-heart"></i>1,530</li>
        <li><i class="fas fa-comment-alt"></i>560</li>
        <div class="count-img">
          <img src="assets/img/contest/counter-img-1.png" alt="" />
        </div>
      </ul>
    </div>
  </div>
</div>
