<!-- Header bar section complate -->
<!-- Professional Area Start -->
<div class="talent-one-area">
  <div id="talents-scroll" class="container-fluid" style="overflow: auto;">
    <div class="no-gutters talent-main">
      <div class="talent-div">
        <div class="left-talent-wrp pt-30">
          <div
            class="head text-left"
            *ngIf="!(currentUser | async).authenticated"
          >
            <span (click)="onSignUpClicked()" style="cursor: pointer;"
              >Sign Up </span
            ><span>to</span>
            <h3>Join the Community</h3>
          </div>
          <app-up-search
            [placeholderText]="searchPlaceHolderText"
          ></app-up-search>
          <app-up-categery-search> </app-up-categery-search>

          <!-- professionals filter -->
          <div
            style="
              width: 100%;
              height: 100%;
              margin: 0 auto;
              margin-top: -10px;
            "
          >
            <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
              ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
            /></a>

            <a
              style="cursor: pointer;"
              (click)="fetchUsers()"
              *ngIf="failed$ | async"
              >Unable to load data. Try again
              <img
                src="assets/retry.svg"
                style="width: 30px; height: 30px; margin: 0 auto;"
                alt="Click button to retry"
            /></a>
          </div>
          <app-up-user-filter
            [typeOfUser]="'Professional'"
            *ngIf="completed$ | async"
          ></app-up-user-filter>
        </div>
      </div>

      <div class="talent-div" style="width: 69%;">
        <app-professional-biodata
          *ngIf="completed$ | async"
        ></app-professional-biodata>
        <span>
          <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
            ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
          /></a>

          <a
            style="cursor: pointer;"
            (click)="fetchUsers()"
            *ngIf="failed$ | async"
            >Unable to load data. Try again
            <img
              src="assets/retry.svg"
              style="width: 30px; height: 30px; margin: 0 auto;"
              alt="Click button to retry"
          /></a>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- Professional Area End -->
