<div class="tab-pane fade show active">
  <div class="setting-wrapper">
    <div class="row">
      <div class="col-xl-12">
        <div class="setting-des">
          <p>Fill your details; your personal details, contact detail, talents, location and
            social media handles.</p>
        </div>
        <div class="setting-item">
          <h4>Your email</h4>
          <div class="setting-content">
            <p>Ojopeta@gmail.com</p>
            <a class="setting-btn" href="#">Change</a>
          </div>
        </div>
        <div class="setting-item">
          <h4>Tap notifications</h4>
          <div class="setting-content">
            <p>Notifications when someone taps you or likes your upload</p>
            <div class="toggle-btn">
              <div class="toggle-outer">
                <div class="toggle-inner"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Email notification</h4>
          <div class="setting-content">
            <p>Turn off all non-administrative email from Untapped</p>
            <div class="toggle-btn">
              <div class="toggle-outer">
                <div class="toggle-inner"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Add Facebook</h4>
          <div class="setting-content">
            <p>We will never post to Facebook or message your friends without
              your permission.</p>
            <div class="setting-bttn">
              <a class="setting-btn" href="#"><img src="assets/img/profile/fb.svg" alt=""> Add Facebook</a>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Add Instagram</h4>
          <div class="setting-content">
            <p>We will never post to Instagram or message your friends without
              your permission.</p>
            <div class="setting-bttn">
              <a class="setting-btn" href="#"><img src="assets/img/profile/instagram.svg" alt=""> Add Facebook</a>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Add Twitter</h4>
          <div class="setting-content">
            <p>We will never post to Instagram or message your friends without
              your permission.</p>
            <div class="setting-bttn">
              <a class="setting-btn" href="#"><img src="assets/img/profile/twitter.svg" alt=""> Add Facebook</a>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Profile search visibility</h4>
          <div class="setting-content">
            <p>Hide my profile from search result </p>
            <div class="toggle-btn">
              <div class="toggle-outer">
                <div class="toggle-inner"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Blocked users</h4>
          <div class="setting-content">
            <p>See a list of all the users you’ve blocked.</p>
            <div class="setting-bttn">
              <a class="setting-btn" href="#">Manage block list</a>
            </div>
          </div>
        </div>
        <div class="setting-item">
          <h4>Suspend Account</h4>
          <div class="setting-content d">
            <p>Suspending your account will remove it from untapped within a few minutes. You can sign back
              in anytime to reactivate your account and restore its content.</p>
            <a href="#">Suspend Account</a>
          </div>
        </div>
        <div class="setting-item">
          <h4>Delete account</h4>
          <div class="setting-content d">
            <p>Permanently delete your account and all of your content.</p>
            <a href="#">Delete Account</a>
          </div>
        </div>
      </div>

      <div class="col-xl-12">
        <div class="sett-btn">
          <button class="box-btn profile-save">SAVE CHANGES</button>
        </div>
      </div>
    </div>
  </div>
</div>