<div class="row mb-50" *ngIf="userImagesLength > 0">
  <div class="col-xl-12">
    <div class="profile-alb-head">
      <h4>
        Picture Portfolio<span
          >({{ userImagesLength }} album<i *ngIf="userImagesLength > 1">s</i
          >)</span
        >
      </h4>
    </div>
  </div>
  <div
    class="col-xl-4 col-lg-4 col-md-4 col-sm-6"
    *ngFor="let image of userImagePreviews; let i = index"
  >
    <div
      class="profile-alb-wrapper mb-30"
      (click)="openModalDialog('gigs-modal', image._id)"
    >
      <div class="alb-image">
        <img src="{{ image.albumCover }}" alt="" />

        <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div>
        <div class="delete">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">{{ image.activityCount }}</span>
      </div>
      <div class="alb-content">
        <h4>{{ image.title }}</h4>
        <p>{{ image.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <app-modals [id]="'gigs-modal'">
  <div class="pop-icon-bar pop-talent" navigate>
    <div class="slide-arrow">
      <a class="left"><i class="far fa-angle-left"></i></a>
      <a class="right"><i class="far fa-angle-right"></i></a>
    </div>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('gigs-modal')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>

  <app-portfolio-modal-content
    body
    [data]="data"
    [viewMode]="viewMode"
  ></app-portfolio-modal-content>
</app-modals> -->

<!-- <app-modals [id]="'gigs-modal'">
  <div class="pop-icon-bar pop-talent" navigate>
    <div class="slide-arrow">
      <a class="left"><i class="far fa-angle-left"></i></a>
      <a class="right"><i class="far fa-angle-right"></i></a>
    </div>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('gigs-modal')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>

  <app-portfolio-modal-content
    body
    [mediaType]="selectedMediaType"
    [viewMode]="viewMode"
  ></app-portfolio-modal-content>
</app-modals> -->
