<!-- Over view area start -->

<div class="over-view-area">
  <div class="container-fluid">
    <div class="row overview-mobile">
      <div class="col-lg-7">
        <div class="over-view-all-content">
          <h3 style="font-size: 2rem; word-break: break-word">Overview</h3>
          <h1 style="font-size: 1.8rem; word-break: break-word">
            {{ contestInEdit.title }}
          </h1>
          <div class="single-over-view-contnet-blk text-word-wrap">
            <h4>Contest information</h4>
            <p>
              {{ contestInEdit.information }}
            </p>
          </div>
          <div class="single-over-view-contnet-blk" *ngIf="eligibleCategories">
            <h4>Eligible category</h4>
            <p>{{ eligibleCategories }}</p>
          </div>
          <!-- <div
            class="single-over-view-contnet-blk"
            *ngIf="contestInEdit.eligibilityInfo !== null"
          >
            <h4>Eligibility</h4>
            <p>
              {{ contestInEdit.eligibilityInfo }}
            </p>
          </div> -->
          <!-- <div
            class="single-over-view-contnet-blk"
            *ngIf="contestInEdit.submissionRules !== null"
          >
            <h4>Submission rules</h4>
            <p>
              {{ contestInEdit.submissionRules }}
            </p>
          </div> -->
          <div class="single-over-view-contnet-blk">
            <h4>Contest duration</h4>
            <p>
              {{ contestInEdit.startDate | date }} →
              {{ contestInEdit.endDate | date }}
              ({{ differenceInDays }})
            </p>
          </div>
          <div class="single-over-view-contnet-blk">
            <h4>Prize/Prizes</h4>
            <span
              *ngFor="let prize of contestInEdit.redeemable"
              [ngSwitch]="prize.name"
            >
              <!-- {{ prize.name }} -
              {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }} -->
              <li *ngSwitchCase="'position1'">
                1st Place :
                {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
              </li>
              <li *ngSwitchCase="'position2'">
                2nd Place :
                {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
              </li>
              <li *ngSwitchCase="'position3'">
                3rd Place :
                {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
              </li>
              <li *ngSwitchCase="'position4'">
                4th Place :
                {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
              </li>
              <li *ngSwitchCase="'position5'">
                5th Place :
                {{ prize.prizeCash | currency: "NGN":"symbol":"4.2-2" }}
              </li>
            </span>
          </div>
          <div class="single-over-view-contnet-blk">
            <h4>Submission Media Type</h4>
            <p>{{ contestInEdit.entryMediaType | uppercase }}</p>
          </div>
          <!-- <div class="single-over-view-contnet-blk">
              <h4>Max no of Contestants</h4>
              <p>20 Contestants</p>
            </div> -->
          <!-- <div
            class="single-over-view-contnet-blk"
            *ngIf="contestInEdit.evaluations"
          >
            <h4>Evaluation</h4>
            <p *ngFor="let evaluation of contestInEdit.evaluations">
              {{ evaluation }}
            </p>
          </div> -->

          <div class="btns">
            <a
              *ngIf="userData.user_data.userType.name === 'Professional'"
              routerLink="/user/competition/page"
              (click)="onClickEdit()"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="visited"
              [queryParams]="{ tab: 'new' }"
              >EDIT CONTEST</a
            >
            <angular4-paystack
              [email]="userEmail"
              (click)="createOrder('paystack')"
              [amount]="totalAmount * 100"
              [ref]="refKey"
              [channels]="['card', 'bank']"
              [class.box-btn-disable]="
                (inProgress$ | async) ||
                (!isCompleted$ | async) ||
                (!failed$ | async)
              "
              [class]="'box-btn create-btn'"
              (onClose)="paymentCancel()"
              (callback)="paymentDone($event)"
            >
              <span
                *ngIf="
                  (isInitiated$ | async) ||
                  (isCompleted$ | async) ||
                  (failed$ | async)
                "
              >
                PROCEED TO PAYMENT
              </span>
              <span *ngIf="(inProgress$ | async) || (!isCompleted$ | async)">
                PROCESSING...
              </span>
            </angular4-paystack>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="side-img">
          <img style="width: 482px; height: 395px" src="{{ bannerImage }}" />
        </div>

        <div class="payment-blk">
          <div class="payment-blk-inner">
            <div class="sm-top-blk">
              <h3>Summary</h3>
              <div class="sm-sng-blk">
                <p>
                  Contest prize
                  <small>
                    <i>x {{ winnerCount }} </i></small
                  >
                  <span>
                    {{ totalRewardFund | currency: "NGN":true:"2.2-4" }}</span
                  >
                </p>
                <p>
                  Contest setup fee
                  <span>{{
                    currentService.price | currency: "NGN":true:"2.2-4"
                  }}</span>
                </p>
                <h4>
                  Total
                  <span>{{ totalAmount | currency: "NGN":true:"2.2-4" }}</span>
                </h4>
              </div>
              <div class="sm-btm">
                <p>You won't be charged yet</p>
              </div>
            </div>

            <div class="box-bottom-blk">
              <img
                src="assets/img/paystack_img2.png"
                alt="Secured By Paystack"
              />
              <!-- <h3>
                <span><i class="fas fa-lock"></i>SSL</span> SECURED PAYMENT
              </h3>
              <p>Your information is protected by 256-bit SSL enoryption</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Over view area end -->
