<!-- Header title section start -->

<div class="hero-teat-arrea">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="hero-text">
          <h1>Showcase your talent</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header title section complate -->

<!-- Show-case area start -->

<div class="showcase-area fx-padding">
  <img class="path-1" src="assets/img/sp-1.png" alt="" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 p-top-2">
        <div class="left-bg">
          <img src="assets/img/img01.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 d-none d-md-block">
        <div class="center-bg">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <img src="assets/img/img-2.jpg" alt="" />
            </div>
            <div class="col-lg-4 col-md-4 p-top p-top-1">
              <img src="assets/img/img-3.jpg" alt="" />
            </div>
            <div class="col-lg-4 col-md-4 p-top">
              <img src="assets/img/img-5.jpg" alt="" />
            </div>
            <div class="col-lg-8 col-md-8 p-top">
              <img src="assets/img/img-6.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 p-top-3 col-md-3 d-none d-md-block">
        <div class="right-bg">
          <img src="assets/img/img-4.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Show-case area end -->

<!-- professional-content-area Start -->

<div class="professional-content-area fx-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="tm-img">
          <span><img src="assets/img/sp-2.png" alt="" /></span>
          <img src="assets/img/img-7.png" alt="" />
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="professsional-txt">
          <h1>
            Talent
          </h1>
          <p>
            Create your personalized page to upload your content (image, audio,
            video) and enter contest.
          </p>
          <a
            (click)="onSignUpTalent()"
            *ngIf="!isAuthenticated"
            style="cursor: pointer;"
            >SIGN UP AS A TALENT<i class="fal fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- professional-content-area end -->

<!-- <div class="blog-slide-area fx-padding ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <h4>Join any of the many talent cetegories</h4>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="blog-slide owl-carousel">
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
          <div class="single-slide">
            <img src="assets/img/img-7.png" alt="" />
            <div class="slide-txt">
              <span>Music</span>
              <p>200+ music talents</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="contact-area fx-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact-txt">
          <span *ngIf="!isAuthenticated" (click)="onSignUpProfessional()"
            >Join as a professional</span
          >
          <h1>Create contest for talents</h1>
          <p>
            You will be able to create and pull a variety of talents you so
            wish. You will have access to trends, talent's progress and reviews.
          </p>
          <a
            style="cursor: pointer;"
            *ngIf="!isAuthenticated"
            (click)="onSignUpProfessional()"
            >Join as a professional<i class="fal fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="left-bg-contact">
          <span class="ptrn"><img src="assets/img/patrn-2.png" alt="" /></span>
          <div class="row">
            <div class="col-lg-12 col-md-12 p-btn">
              <img src="assets/img/img-8.png" alt="" />
            </div>
            <div class="col-lg-4 col-md-4">
              <img src="assets/img/img-9.png" alt="" />
            </div>
            <div class="col-lg-8 col-md-8">
              <img src="assets/img/img-10.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row contact-bottom" *ngIf="!isAuthenticated">
      <div class="col-lg-8 col-md-7">
        <p>
          Not a talent or professional? <br />
          sign up to support your favorite talent
        </p>
      </div>
      <div class="col-lg-4 col-md-5 text-center">
        <a style="cursor: pointer;" (click)="onSignUpAudience()"
          >Sign up as audiance<i class="fal fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
