<div
  class="tab-pane fade show active"
  id="portfolio"
  role="tabpanel"
  aria-labelledby="portfolio-tab"
>
  <div class="row">
    <div class="col-xl-12">
      <div class="profile-alb-head">
        <p>
          Add your previous works showcasing your talents, upload only high
          quality audio, video and pictures that best highlight your talent
        </p>
      </div>
    </div>
  </div>
  <div class="profile-alb">
    <app-portfolio-media-type></app-portfolio-media-type>
  </div>
  <app-portfolio-item-container> </app-portfolio-item-container>
</div>
