<form [formGroup]="smsContestForm">
  <div *ngIf="!canSmsProceed">
    <div class="row">
      <div class="col-xl-12">
        <div class="about-author mb-40">
          <h2>Conditions for using our SMS Voting System</h2>
          <p><span>1. </span> Using our SMS voting system is Free</p>
          <p>
            <span>2. </span> UntappedPool is not liable to advertise this
            competition for which you use our voting system
          </p>
          <p>
            <span>3. </span> Each SMS costs
            <span style="color: red">NGN 30</span> for all network providers
          </p>
          <p>
            <span>4. </span> The network providers pay the following per SMS:
            <li style="color: red"><span>Globacom: NGN 0.7355 </span></li>
            <li style="color: red"><span>MTN: NGN 3.628 </span></li>
            <li style="color: red"><span>Airtel: NGN 3.0495 </span></li>
            <li style="color: red">
              <span>Etisalat: N0.7355 </span>
            </li>
          </p>
          <p>
            <span>5. </span> UntappedPool shall pay competition creator
            accumulated votes' fund, subject to these conditions
          </p>
          <p>
            <span>6. </span> All payments shall be done every
            <span style="color: red">90 - 120 days</span>
          </p>
          <p>
            <span>7. </span> A minimum of
            <span style="color: red">1000</span> SMS hits per competition is
            required before payments shall be made
          </p>
          <p>
            <span>8. </span> This competition shall be rolled over for another
            <span style="color: red">90 days</span> where the required minimum
            number of SMS hits was not met
          </p>
          <p>
            <span>9. </span> UntappedPool charges a
            <span style="color: red">5%</span> of the total amount of
            accumulated votes' funds before payment shall be made to competition
            creator
          </p>
          <p><span>10. </span> Bank charges are inclusive</p>
          <div [formGroup]="smsAgreementForm">
            <label class="form round">
              <input formControlName="terms" type="checkbox" />
              <span
                class="error-block"
                *ngIf="smsAgreement.terms.invalid && smsAgreement.terms.errors"
              >
                *Required
              </span>
              By clicking proceed, you agree to the competition condition above
              <span class="checkmark"></span>
            </label>

            <button
              class="box-btn profile-save"
              [class.box-btn-disable]="smsAgreementForm.invalid"
              [disabled]="smsAgreementForm.invalid"
              (click)="onClickContinue()"
              type="button"
            >
              <span>CONTINUE</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="canSmsProceed">
    <div
      class="tab-pane fade show active row tab2"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <div class="row">
        <div class="col-xl-12">
          <div class="collect-outer-wrapper">
            <div>
              <p style="font-size: 16px">
                Text format: send TALENT/Talent/talent<span style="color: red"
                  >[put a space]</span
                >additional optional info
                <span style="color: red">to</span>
                <b> 32811</b>
              </p>
              <br />
              <div class="input-1">
                <label for="">
                  <span
                    class="error-block"
                    *ngIf="
                      smsContestForm.get('title').invalid &&
                      smsContestForm.get('title').touched
                    "
                  >
                    * Please provide provide
                  </span>
                  Competition Title</label
                >
                <input
                  type="text"
                  class="input-design"
                  formControlName="title"
                  style="width: 90%"
                  placeholder="Competition Title"
                />
              </div>
              <div class="input-1">
                <label for="">
                  <span
                    class="error-block"
                    *ngIf="
                      smsContestForm.get('noOfParticipants').invalid &&
                      smsContestForm.get('noOfParticipants').touched
                    "
                  >
                    * Please provide provide
                  </span>
                  Number of Participants</label
                >
                <input
                  type="number"
                  min="2"
                  class="input-design"
                  formControlName="noOfParticipants"
                  style="width: 35%"
                  placeholder="Number of participants"
                />
              </div>
              <div class="upload">
                <div class="duration">
                  <label for="">
                    <span
                      class="error-block"
                      *ngIf="
                        smsContestForm.get('smsContestDuration').invalid &&
                        smsContestForm.get('smsContestDuration').touched
                      "
                    >
                      * Competition duration is required
                    </span>
                    Competition duration (<small>start date - end date</small
                    >)</label
                  >
                  <div class="duration-inner">
                    <input
                      style="cursor: pointer"
                      class="input-design"
                      formControlName="smsContestDuration"
                      [owlDateTimeTrigger]="dt10"
                      [owlDateTime]="dt10"
                      [selectMode]="'range'"
                      [min]="smsMinDate"
                      [max]="smsMaxDate"
                      title="Click to select start and end date"
                    />
                    <owl-date-time #dt10></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade show active row tab2"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <div class="row">
        <div class="col-12">
          <div class="collect-outer-wrapper">
            <div>
              <button
                class="box-btn create-btn"
                #smsCreateButton
                [class.box-btn-disable]="
                  smsContestForm.invalid || !smsContestForm.touched
                "
                [disabled]="
                  smsContestForm.invalid ||
                  (inProgress$ | async) ||
                  (!isCompleted$ | async) ||
                  (!failed$ | async)
                "
                type="button"
                (click)="onClickGenerateButton()"
                style="margin-bottom: 1rem"
              >
                <span
                  *ngIf="
                    (isInitiated$ | async) ||
                    (isCompleted$ | async) ||
                    (failed$ | async)
                  "
                >
                  GENERATE CONTESTANT CODE
                </span>
                <span *ngIf="(inProgress$ | async) || (!isCompleted$ | async)">
                  PROCESSING...
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
