<!-- Header bar section complate -->
<!-- Talent Area Start -->
<div class="talent-one-area">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="left-talent-wrp pt-30">
          <div
            class="head text-left"
            *ngIf="!(currentUser | async).authenticated"
          >
            <span (click)="onSignUpClicked()" style="cursor: pointer;"
              >Sign Up </span
            ><span>to</span>
            <h3>Join the Community</h3>
          </div>
          <app-up-search
            [placeholderText]="searchPlaceHolderText"
          ></app-up-search>
          <app-up-categery-search> </app-up-categery-search>

          <!-- talents filter -->
          <app-up-user-filter
            [typeOfUser]="'Talent'"
            [filteredUsers]="talents | async"
            [typeOfFilter]="(talents | async).length > 1 ? 'Talents' : 'Talent'"
          ></app-up-user-filter>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <app-talent-biodata></app-talent-biodata>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12 talent-portfolio-wrapper">
        <div class="right-talent-wrp">
          <app-talent-portfolio-albums></app-talent-portfolio-albums>
          <app-talent-portfolio-general-items></app-talent-portfolio-general-items>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Talent Area End -->
