<!-- Header bar section complate -->
<!-- Talent Area Start -->

<div class="talent-one-area">
  <div
    class="container-fluid"
    id="talents-scroll"
    style="overflow: auto; padding: 0px;"
  >
    <div class="row no-gutters talent-main">
      <div class="talent-div">
        <div class="left-talent-wrp pt-30">
          <div
            class="head text-left"
            *ngIf="!(currentUser | async).authenticated"
          >
            <span (click)="onSignUpClicked()" style="cursor: pointer;"
              >Sign Up </span
            ><span>to</span>
            <h3>Join the Community</h3>
          </div>
          <app-up-search
            [userTypeId]="'5dcb700d625f0d6058704ef0'"
            [placeholderText]="searchPlaceHolderText"
          ></app-up-search>
          <app-up-categery-search [userTypeId]="talentUserTypeId">
          </app-up-categery-search>

          <!-- talents filter -->
          <div
            style="
              width: 30px;
              height: 30px;
              margin: 0 auto;
              margin-top: -30px;
            "
          >
            <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
              ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
            /></a>

            <a
              style="cursor: pointer;"
              (click)="fetchUsers()"
              *ngIf="failed$ | async"
              >Unable to load data. Try again
              <img
                src="assets/retry.svg"
                style="width: 30px; height: 30px; margin: 0 auto;"
                alt="Click button to retry"
            /></a>
          </div>

          <app-up-user-filter
            [typeOfUser]="'Talent'"
            *ngIf="completed$ | async"
          ></app-up-user-filter>
        </div>
      </div>
      <div class="talent-div">
        <app-talent-biodata *ngIf="completed$ | async"></app-talent-biodata>
        <span>
          <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
            ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
          /></a>

          <a
            style="cursor: pointer;"
            (click)="fetchUsers()"
            *ngIf="failed$ | async"
            >Unable to load data. Try again
            <img
              src="assets/retry.svg"
              style="width: 30px; height: 30px; margin: 0 auto;"
              alt="Click button to retry"
          /></a>
        </span>
      </div>
      <div class="talent-div talent-portfolio-wrapper">
        <div class="right-talent-wrp">
          <app-talent-portfolio-albums
            *ngIf="completed$ | async"
          ></app-talent-portfolio-albums>
          <span>
            <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
              ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
            /></a>

            <a
              style="cursor: pointer;"
              (click)="fetchUsers()"
              *ngIf="failed$ | async"
            >
              Unable to load data. Try again
              <img
                src="assets/retry.svg"
                style="width: 30px; height: 30px; margin: 0 auto;"
                alt="Click button to retry"
            /></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Talent Area End -->
