<!-- Header bar section complate -->
<!-- Talent Area Start -->
<div class="talent-one-area">
  <div id="talents-scroll" class="container-fluid" style="overflow: auto; padding: 0px;">
    <div class="row no-gutters talent-main">
      <div class="talent-div">
        <div class="left-talent-wrp pt-30">
          <div
            class="head text-left"
            *ngIf="!(currentUser | async).authenticated"
          >
            <span (click)="onSignUpClicked()" style="cursor: pointer;"
              >Sign Up </span
            ><span>to</span>
            <h3>Join the Community</h3>
          </div>
          <app-up-search
            [placeholderText]="searchPlaceHolderText"
          ></app-up-search>
          <app-up-categery-search> </app-up-categery-search>

          <!-- talents filter -->
          <app-up-user-filter
            [typeOfUser]="'Talent'"
          ></app-up-user-filter>
        </div>
      </div>
      <div class="talent-div">
        <app-talent-biodata></app-talent-biodata>
      </div>
      <div class="talent-div talent-portfolio-wrapper">
        <div class="right-talent-wrp">
          <app-talent-portfolio-albums></app-talent-portfolio-albums>
          <app-talent-portfolio-general-items></app-talent-portfolio-general-items>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Talent Area End -->
