<div
  class="tab-pane fade show active row tab3 contest-settings"
  id="contact"
  role="tabpanel"
  aria-labelledby="contact-tab"
>
  <div class="row">
    <div class="col-xl-7">
      <div class="setting-area">
        <p>
          If you have any issues with the contest, get in touch with us by
          filling the form below
        </p>
        <form action="#">
          <div class="input-1">
            <label for="">Contest</label>
            <select name="" id="">
              <option value="">option</option>
              <option value="">option 1</option>
              <option value="">option 2</option>
            </select>
          </div>
          <div class="input-1">
            <label for="">Complaint Category</label>
            <select name="" id="">
              <option value="">option</option>
              <option value="">option 1</option>
              <option value="">option 2</option>
            </select>
          </div>
          <div class="input-1">
            <label for="">Message</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <a class="box-btn create-btn" href="#">Create Contest</a>
        </form>
      </div>
    </div>
  </div>
</div>
