<!-- Gig-one Area Start -->
<div class="gig-one-area pt-70 pb-150 fx-padding">
  <div class="container-fluid">
    <div class="row"></div>
    <div class="main-gigs-wrapper">
      <div class="row">
        <div class="col-xl-12">
          <div class="gigs-counter">
            <div class="single active">
              <div>
                <span style="text-align: center; display: inherit;">
                  This policy was last updated {{ privacyPolicyUpdateDate }} and
                  shall be undated from time to time
                </span>
              </div>
              <div>
                <span style="text-align: center; display: inherit;">
                  UntappedPool Privacy Policy
                </span>
              </div>
              <div>
                <span style="text-align: center; display: inherit;">
                  This is important to us
                </span>
              </div>
            </div>
          </div>
          <div class="gigs-view-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="about-author mb-40">
                  <p>
                    Your information will not be shared, rented, leased or
                    entirely sold to any third party under whatever
                    circumstances. You are free to control the information that
                    you shared with us.
                  </p>
                  <h4><b>Your Usage</b></h4>
                  <p>
                    You may be required to provide your personal information for
                    the following purposes:
                    <li>
                      To provide you information that will allow you to have a
                      profile on UntappedPool
                    </li>
                    <li>
                      UntappedPool will collect your email, password and other
                      personal information when you have open a profile
                    </li>
                    <li>
                      To provide you information that will allow you to have a
                      profile on UntappedPool
                    </li>
                    <li>
                      We may also collect your name, age, city, picture, and
                      country information
                    </li>
                    <li>
                      We may collect your phone number in order to contact you
                      where necessary
                    </li>
                    Your data is stored automatically and indefinitely.
                  </p>
                  <h4><b>Your Consent</b></h4>
                  <p>
                    When you provide your personal information, you hereby
                    consent that it can be used for the purposes of
                    UntappedPool. If you choose not to register or provide
                    personal information, you can still use our website but you
                    will not be able to have access to all the functions of the
                    website. In order to use UntappedPool, you must have
                    profile. When you a profile, you are providing your consent
                    to occasionally receive information from us. In each
                    communication from us you will have the opportunity to
                    unsubscribe from further communications.
                  </p>
                  <h4><b>Access to Your Information</b></h4>
                  <p>
                    On UntappedPool, you are entitled to review the personal
                    information you have provided us and ensure that it is
                    accurate and current at all times.
                    <a
                      style="color: #06a9b0;"
                      href="https://www.untappedpool.com"
                      >To review or update your information simply click on the
                      "account" button.</a
                    >
                  </p>
                  <h4><b>Security of Your Information</b></h4>
                  <p>
                    UntappedPool is strongly committed to protecting your
                    information and ensuring that your information is breached
                    in any way. We have strong security measures to protect your
                    data from loss, misuse, unauthorized access, disclosure,
                    alteration, or destruction whatsoever. We use the best and
                    latest security measures and technologies.
                  </p>
                  <h4><b>What We Do With the Information You Share</b></h4>
                  <p>
                    Your information is never shared outside UntappedPool
                    without your permission. Inside the website, your data is
                    stored behind multiple firewalls on secure servers with very
                    restricted user access.
                  </p>
                  <p>
                    When you win any competition from the website, we ask for
                    your credit card number details. We use this information
                    only to ensure you are credited with your winnings.
                  </p>
                  <p>
                    We may on occasion require the professionals to sponsor
                    talent competitions. We will only provide such professional
                    with the information required for them to use; they are
                    bound by strict privacy policies and are prohibited from
                    using your information for any other purpose.
                  </p>
                  <p>
                    UntappedPool may disclose your personal information, without
                    notice, as required to do so by law or in the good faith
                    belief that such action is necessary to: (a) conform to the
                    dictates of the law or comply with legal process served of
                    the website; (b) protect and defend the rights or property
                    of UntappedPool; and (c) act in urgent circumstances to
                    protect the personal safety of users of UntappedPool, its
                    websites, or the public.
                  </p>
                  <h4>
                    <b>UntappedPool Privacy Policy Apply to Linked Websites</b>
                  </h4>
                  <p>
                    UntappedPool uses third-party advertising companies to serve
                    our ads on the Site. These third-party advertising companies
                    employ cookie and 1x1 pixel .gifs or web beacons to measure
                    and improve the effectiveness of ads for their clients. To
                    do so, these companies may use anonymous information about
                    your visits to our website and other websites, but will not
                    collect any information which can personally identify you or
                    can be linked to you. This information can include:
                    date/time of banner ad shown, the banner ad that was shown,
                    their cookie, and the IP address. This information can also
                    be used for online preference marketing purposes.
                  </p>
                  <h4><b>Changes to This Policy</b></h4>
                  <p>
                    If we make changes to our Privacy Policy, we will post these
                    changes here so that you are always aware of what
                    information we collect, how we use it and under what
                    circumstances, if any, we disclose it.
                  </p>
                  <h4><b>Enforcement of Policy</b></h4>
                  <p>
                    If for some reason you believe UntappedPool has not adhered
                    to these principles, please notify us and we will do our
                    best to promptly make corrections.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gig-one Area End -->
