<!-- Gig-one Area Start -->
<div class="gig-one-area pt-70 pb-150 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10">
        <div class="gig-header mb-45">
          <h3>Terms & Conditions</h3>
          <p>
            Untapped Pool
          </p>
        </div>
      </div>
    </div>
    <div class="main-gigs-wrapper">
      <div class="row">
        <div class="col-xl-12">
          <div class="gigs-counter">
            <div class="single active">
              <span>20</span>
              <h5>Received Gigs</h5>
            </div>
            <div class="single">
              <span>5</span>
              <h5>Appointments</h5>
            </div>
            <div class="single">
              <span>15</span>
              <h5>Blocked</h5>
            </div>
            <div class="single">
              <span>0</span>
              <h5>Deleted</h5>
            </div>
          </div>
          <div class="gigs-view-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="back-btn">
                  <span class="bk-btn"
                    ><i class="fas fa-arrow-left"></i>Back</span
                  >
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-7 col-12">
                <div class="gig-author">
                  <div class="author-img">
                    <img src="assets/img/gigs/author-1.png" alt="" />
                  </div>
                  <div class="description">
                    <h4>Modesto Simonis</h4>
                    <div class="talent">
                      <span class="tlt">Photography</span>
                      <span class="tlt">Video Editing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-5 col-12">
                <div class="gig-decision mb-30">
                  <div class="decition-item">
                    <p>
                      <img src="assets/img/gigs/message-text.svg" alt="" /> Set
                      appointment
                    </p>
                  </div>
                  <div class="decition-item">
                    <p>
                      <img
                        src="assets/img/gigs/delete-forever.svg"
                        alt=""
                      />Delete
                    </p>
                  </div>
                  <div class="decition-item">
                    <p><img src="assets/img/gigs/denied.svg" alt="" />Block</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="about-author mb-40">
                  <h4>Short Message</h4>
                  <p>
                    Phasellus finibus enim nulla, quis ornare odio facilisis eu.
                    Suspendisse ornare ante sit amet arcu semper, vel eleifend
                    tortor egestas. Aenean luctus, lorem in hendrerit interdum,
                    leo orci egestas diam, ac euismod massa est et turpis. Etiam
                    auctor lectus vel neque convallis pharetra. Ut turpis eros,
                    aliquet non ante id, interdum placerat erat. Curabitur sit
                    amet eros vel orci venenatis hendrerit. Cras sagittis
                    sagittis sagittis. In hac habitasse platea dictumst.
                    Phasellus diam erat, porttitor sed ligula at, ultricies
                    auctor tellus. Donec ut sem in turpis ultrices suscipit ut
                    auctor tellus. Quisque a tincidunt ipsum.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="send-item-wrapper">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="headding mb-30">
                        <h4>
                          <img src="assets/img/gigs/folder.svg" alt="" />20 gigs
                          item sent
                        </h4>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="send-items mb-30">
                        <img
                          src="assets/img/gigs/send-item-1.jpg"
                          alt="send-item"
                        />
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="send-items mb-30">
                        <img
                          src="assets/img/gigs/send-item-1.jpg"
                          alt="send-item"
                        />
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="send-items mb-30">
                        <img
                          src="assets/img/gigs/send-item-1.jpg"
                          alt="send-item"
                        />
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="send-items mb-30">
                        <img
                          src="assets/img/gigs/send-item-1.jpg"
                          alt="send-item"
                        />
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="send-items mb-30">
                        <img
                          src="assets/img/gigs/send-item-1.jpg"
                          alt="send-item"
                        />
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="send-items mb-30">
                        <img
                          src="assets/img/gigs/send-item-1.jpg"
                          alt="send-item"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gig-one Area End -->
