<footer class="fx-padding ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="logo-footer">
            <a href=""><img src="assets/img/ft-logo.svg" alt=""><span>untapped pool</span></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="footer-menu">
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">Support</a></li>
              <li><a href="">particgbghbg</a></li>
              <li><a href="">Teams & Condaction</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="footer-social">
            <span>Follow us</span>
            <li><a href=""><img src="assets/img/facebook.svg" alt=""></a></li>
            <li><a href=""><img src="assets/img/twitter.svg" alt=""></a></li>
            <li><a href=""><img src="assets/img/drible.svg" alt=""></a></li>
            <li><a href=""><img src="assets/img/insta.svg" alt=""></a></li>
            <li><a href=""><img src="assets/img/linkdine.svg" alt=""></a></li>
          </div>
        </div>
      </div>
    </div>
  </footer>