<div>
  <div>
    <span>
      <a *ngIf="(mediaInitiated$ | async) || (mediaInProgress$ | async)"
        ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
      /></a>

      <a
        style="cursor: pointer;"
        (click)="triggerFetchUserMediaList()"
        *ngIf="mediaFailed$ | async"
      >
        Something went wrong. Refresh
        <img
          src="assets/retry.svg"
          style="width: 20px; height: 20px; margin: 0 auto;"
          alt="Click button to retry"
      /></a>
    </span>
    <app-portfolio-images
      *ngIf="mediaCompleted$ | async"
    ></app-portfolio-images>

    <app-portfolio-videos
      *ngIf="mediaCompleted$ | async"
    ></app-portfolio-videos>

    <app-portfolio-audios
      *ngIf="mediaCompleted$ | async"
    ></app-portfolio-audios>
  </div>
  <div>
    <span>
      <a *ngIf="(mediaInitiated$ | async) || (mediaInProgress$ | async)"
        ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
      /></a>

      <a
        style="cursor: pointer;"
        (click)="triggerFetchUserMediaList()"
        *ngIf="mediaFailed$ | async"
      >
        Something went wrong. Refresh
        <img
          src="assets/retry.svg"
          style="width: 20px; height: 20px; margin: 0 auto;"
          alt="Click button to retry"
      /></a>
    </span>
    <app-portfolio-general
      *ngIf="generalCompleted$ | async"
    ></app-portfolio-general>
  </div>

  <app-portfolio-media-type></app-portfolio-media-type>
</div>
