<div
  class="tab-pane fade show active row tab1"
  id="home"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <div class="table-responsive col-xl-12" *ngIf="userContests.length > 0">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Title</th>
          <th>Total Entries</th>
          <th>Total Votes</th>
          <th>Date Created</th>
          <th>Payment Status</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let contest of userContests;
            let i = index;
            trackBy: trackByFn
          "
        >
          <td>{{ i + 1 }}</td>
          <td style="width: 30%">{{ contest.code }}</td>
          <td style="width: 70%">{{ contest.title }}</td>
          <td>{{ contest.totalEntries }}</td>
          <td>{{ contest.totalVotes }}</td>
          <td style="width: 30%">{{ contest.createdDate | date: "short" }}</td>
          <td *ngIf="contest.paymentStatus === 'Completed'">
            <span style="color: green">Paid</span>
          </td>
          <td *ngIf="contest.paymentStatus === 'UnPaid'">
            <span style="color: red">Not Paid</span>
          </td>
          <td style="width: 30%">
            {{ contest.contestStartDate | date: "short" }}
          </td>
          <td style="width: 30%">
            {{ contest.contestEndDate | date: "short" }}
          </td>
          <td style="width: 30%">
            <button
              [class.box-btn-disable]="contest.totalEntries < 1"
              [disabled]="
                (codeProgress$ | async) ||
                (!codeCompleted$ | async) ||
                (!codeFailed$ | async)
              "
              (click)="onClickDownloadParticipantData(contest._id)"
              style="width: 250px; margin-bottom: 0.3rem"
              type="button"
            >
              <span
                *ngIf="
                  (codeInitiated$ | async) ||
                  (codeCompleted$ | async) ||
                  (codeFailed$ | async)
                "
                >DOWNLOAD PARTICIPANTS</span
              >
              <span *ngIf="(codeProgress$ | async) || (!codeCompleted$ | async)"
                >DOWNLOADING...
              </span>
            </button>
            <button
              [disabled]="
                (resultProgress$ | async) ||
                (!resultCompleted$ | async) ||
                (!resultFailed$ | async)
              "
              (click)="onClickDownloadVoteResult(contest._id)"
              style="width: 250px; margin-bottom: 0.3rem"
              [class.box-btn-disable]="contest.totalVotes < 1"
            >
              <span
                *ngIf="
                  (resultInitiated$ | async) ||
                  (resultCompleted$ | async) ||
                  (resultFailed$ | async)
                "
                >DOWNLOAD VOTE RESULT</span
              >
              <span
                *ngIf="(resultProgress$ | async) || (!resultCompleted$ | async)"
                >DOWNLOADING...
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="col-xl-9"
    *ngIf="userContests.length < 1"
    style="min-height: 400vh"
  >
    <div style="margin: 0 auto; text-align: center">No competitions!!!</div>
  </div>
</div>
