<!-- <div class="slide-menu">
  <div class="slide-menu-main">
    <ul>
      <li><a href=""><img src="assets/img/i1.svg" alt="">Home</a></li>
      <li><a href=""><img src="assets/img/i2.svg" alt="">Travels</a></li>
      <li><a href=""><img src="assets/img/i3.svg" alt="">Profactional</a></li>
    </ul>
  </div>
  <div class="menu-btn-info">
    <a href="">login</a>
    <a class="box-btn" href="">signup</a>
  </div>
  <div class="close-btn"><i class="fal fa-window-close"></i></div>
</div> -->


<div class="contest-w slide-menu">
  <div class="slide-menu-main">
       <ul>
          <li><a href=""><img src="assets/img/i1.svg" alt="">Home</a></li>
          <li><a href=""><img src="assets/img/i2.svg" alt="">Travels</a></li>
          <li><a href=""><img src="assets/img/i3.svg" alt="">Profactional</a></li>
      </ul>
  </div>
  <div class="contest-user">
      <li class="bell"><a href="#"><i class="far fa-bell"></i></a><span>4</span></li>
      <li class="user"><img src="assets/img/contest/user.png" alt=""> 
          <span>Ojo Lake</span>
          <div class="drpdown">
              <ul class="top">
                  <li><a href="#">Contests</a></li>
                  <li><a href="#">Gigs</a></li>
                  <li><a href="#">Appointments</a></li>
                  <li><a href="#">New Portfolio Upload</a></li>
              </ul>
              <ul class="bot">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Messages</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Logout</a></li>
              </ul>
          </div>
      </li>
  </div>
  <div class="close-btn"><i class="fal fa-window-close"></i></div>
</div>