<div class="row" body>
  <div class="col-xl-12">
    <div class="popup-content-wrap pro-page p-0">
      <div class="login-wrapper create-pass-popup">
        <div class="head text-center mb-30">
          <small>
            * Enter the competition uploading only high quality audio, video and
            pictures. All uploads are subject to Admins' approval.
          </small>
        </div>
        <div class="login-form" [formGroup]="contestEntryForm">
          <label for="">Title</label>
          <input
            type="text"
            formControlName="title"
            class="input-design mb-35"
          />
          <label for="">Additional Info</label>
          <textarea
            formControlName="info"
            class="input-design mb-35"
            cols="30"
            row="10"
          ></textarea>
          <p>
            <!-- Drag and drop multiple file to upload <br /><br />
            or <br /><br /> -->
            <span *ngIf="showCompleted">{{ fileName }}</span>
            <span *ngIf="showUploading">
              <img src="assets/loader.gif" style="width: 20px" />
              <p>Uploading...</p>
            </span>
            <span *ngIf="showCompleted">
              <img src="assets/success.gif" style="width: 20px" />
            </span>

            <span
              *ngIf="canUpload"
              style="
                cursor: pointer;
                margin-left: 0;
                text-decoration: underline;
                color: blue;
              "
              (click)="onClickBrowseBtn(selectedContest.contest.entryMediaType)"
              >Click here to upload your entry</span
            >
            <label class="form round">
              <input formControlName="terms" type="checkbox" />
              <span
                class="error-block"
                *ngIf="newContest.terms.invalid && newContest.terms.errors"
              >
                *Required
              </span>
              I agree to be bound by the
              <a
                routerLink="/competition-terms-condition"
                routerLinkActive="visited"
                [routerLinkActiveOptions]="{ exact: true }"
                style="color: #06a9b0; cursor: pointer"
                >Competition T&C</a
              >
              <span class="checkmark"></span>
            </label>
          </p>
          <app-upload [fileConfig]="fileConfig"></app-upload>
          <button
            style="margin-top: -25rem"
            class="box-btn login-btn mt-20"
            (click)="onSubmitEntry()"
            #enterContestButton
            [class.box-btn-disable]="
              contestEntryForm.invalid || !contestEntryForm.touched
            "
            [disabled]="
              contestEntryForm.invalid ||
              (inProgress$ | async) ||
              (!isCompleted$ | async) ||
              (!failed$ | async)
            "
          >
            <span
              *ngIf="
                (isInitiated$ | async) ||
                (isCompleted$ | async) ||
                (failed$ | async)
              "
            >
              <span>Submit</span>
            </span>
            <span *ngIf="(inProgress$ | async) || (!isCompleted$ | async)">
              Submitting...
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
