<div class="row" body>
  <div class="col-xl-12">
    <div class="popup-content-wrap pro-page">
      <h5>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="152"
          height="21"
          viewBox="0 0 152 21"
        >
          <text
            id="Set_new_appointment"
            data-name="Set new appointment"
            transform="translate(0 17)"
            fill="#272424"
            font-size="16"
            font-family="SegoeUI, Segoe UI"
          >
            <tspan x="0" y="0">Submit your entry</tspan>
          </text>
        </svg>
      </h5>
      <p>You can set new appointment with a talent from you tapped talents</p>
      <form action="#" class="appoint-p-form">
        <div class="tlent-option">
          <label for="">Talent Name</label>
          <select name="" id="">
            <option value="">Select 1</option>
            <option value="">Select 2</option>
            <option value="">Select 3</option>
            <option value="">Select 4</option>
          </select>
        </div>
        <div class="input-1 pro-page">
          <label for="">Date</label>
          <input type="text" class="input-design" />
        </div>
        <div class="input-1 pro-page">
          <label for="">Time</label>
          <input type="text" class="input-design" />
        </div>
        <div class="input-1 pro-page">
          <label for="">Venue</label>
          <input type="text" class="input-design" />
        </div>
        <div class="git-btn text-center">
          <button class="box-btn">SET APPOINTMENT WITH TALENT</button>
        </div>
      </form>
    </div>
  </div>
</div>
