<div class="upload-details">
  <div class="details-images">
    <img
      [defaultImage]="imagePath"
      [lazyLoad]="imagePath"
      style="height: 222px; width: 1031px; background: lightgray"
    />
    <div class="edit-upload">
      <a style="cursor: pointer" (click)="onClickUploadImageBtn()"
        ><img src="assets/img/profile/edit-upload.svg" alt=""
      /></a>
    </div>
  </div>
  <div class="details-cont">
    <div class="pic-change">
      <!-- <a class="btn-gray" href="#">Upload Picture</a>
      <p>Size and dimension restriction from the backend</p> -->

      <!-- upload component goes here -->
      <app-upload [fileConfig]="fileConfig"> </app-upload>
      <!-- upload component goes here -->
    </div>
  </div>
</div>
