<div
  class="tab-pane fade show active"
  id="profile"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="row">
    <div class="col-xl-12">
      <div class="profile-des">
        <p>
          Fill your details; your personal details, contact detail, talents,
          location and social media handles.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <app-user-profile-picture></app-user-profile-picture>
    </div>
  </div>
  <form [formGroup]="profileForm">
    <div class="row">
      <div class="col-xl-3">
        <label for="">Stage Name</label>
        <input class="input-design" type="text" />
      </div>
      <div class="col-xl-3">
        <label for="">rcNumber</label>
        <input class="input-design" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Location</label>
        <input class="input-design" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Full Name</label>
        <input class="input-design" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Email Address</label>
        <input class="input-design" type="email" />
      </div>
      <div class="col-xl-12">
        <div class="bio">
          <h4>Short Bio</h4>
          <span class="condition"
            >Word length restriction from the backend</span
          >
        </div>
        <textarea
          class="text-area"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div class="col-xl-12">
        <h4 class="profile-ctg">Add your talent</h4>
        <div class="category">
          <span>Acting</span>
          <span>Drumming</span>
          <span>Contortion</span>
          <a href="#"
            ><span><i class="fas fa-plus"></i></span
          ></a>
          <div class="type-appears">
            <input
              type="text"
              placeholder="Start typing to search / appears after clicking plus"
            />
            <div class="search-result-bar">
              <ul>
                <li>Result item bar</li>
                <li>Result item bar</li>
                <li>Result item bar</li>
                <li>Result item bar</li>
                <li>Result item bar</li>
                <li>Result item bar</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <label for="">Instagram profile link</label>
        <input class="input-design" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Facebook profile link</label>
        <input class="input-design" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Twitter Profile link</label>
        <input class="input-design last" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Youtube profile link</label>
        <input class="input-design last" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Profile link</label>
        <input class="input-design last" type="text" />
      </div>

      <div class="col-xl-12">
        <div class="social-media">
          <a href="#">+ Add another social media profile link</a>
        </div>
        <button class="box-btn profile-save">SAVE CHANGES</button>
      </div>
    </div>
  </form>
</div>
