<div
  class="tab-pane fade show active"
  id="profile"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="row">
    <div class="col-xl-12">
      <div class="profile-des" *ngIf="typeOfUser === 'Talent'">
        <p>
          Fill your details; your personal details, contact detail, talents,
          location and social media handles.
        </p>
      </div>
      <div class="profile-des" *ngIf="typeOfUser === 'Professional'">
        <p>
          Fill your details; business, personal, contact detail, interests,
          office location and social media handles.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <app-change-profile-picture></app-change-profile-picture>
    </div>
    <div class="col-xl-12" *ngIf="typeOfUser === 'Professional'">
      <app-change-professional-banner></app-change-professional-banner>
    </div>
  </div>
  <div [formGroup]="profileForm">
    <div class="row">
      <div class="col-xl-6">
        <label for="" *ngIf="typeOfUser === 'Talent'">Stage Name</label>
        <label for="" *ngIf="typeOfUser === 'Professional'"
          >Business Name</label
        >
        <input class="input-design" formControlName="name" type="text" />
      </div>
      <!-- <div class="col-xl-3" *ngIf="typeOfUser === 'Professional'">
        <label for="">rcNumber</label>
        <input class="input-design" formControlName="rcNumber" type="text" />
      </div> -->
      <div class="col-xl-6">
        <label for="">Full Name</label>
        <input class="input-design" formControlName="fullName" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Location</label>
        <app-google-places
          [addressType]="'address'"
          [autocompleteInputText]="location"
        ></app-google-places>
      </div>
      <div class="col-xl-6">
        <label for="">Email Address</label>
        <input
          class="input-design"
          formControlName="emailAddress"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <label for="">
          <span
            class="error-block"
            *ngIf="profileForm.get('phoneNumber').hasError('pattern')"
          >
            * Please enter a valid
          </span>
          Mobile Number</label
        >
        <input
          class="input-design"
          [pattern]="phonePattern"
          formControlName="phoneNumber"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <h4 class="profile-ctg" *ngIf="typeOfUser === 'Talent'">
          Add your talent(s)
        </h4>
        <h4 class="profile-ctg" *ngIf="typeOfUser === 'Professional'">
          Add your interest(s)
        </h4>
        <app-talent-categories
          [text]="'Select your talents/interest'"
          [placeholderText]="'Select talent/interest'"
        ></app-talent-categories>
      </div>
      <div class="col-xl-12">
        <div class="bio">
          <h4>Short Bio</h4>
          <small
            class="form-text text-muted"
            *ngIf="shortBio.value.length < shortbioCount"
            ><span>{{ shortBio.value.length }}</span> of
            <span>{{ shortbioCount }}</span> characters</small
          >
        </div>
        <textarea
          class="text-area"
          name=""
          id=""
          cols="30"
          rows="10"
          #shortBio
          formControlName="shortBio"
        ></textarea>
      </div>
      <!-- <div class="col-xl-12">
        <h4 class="profile-ctg" *ngIf="typeOfUser === 'Talent'">
          Add your talent(s)
        </h4>
        <h4 class="profile-ctg" *ngIf="typeOfUser === 'Professional'">
          Add your interest(s)
        </h4>
        <app-talent-categories
          [text]="'Select your talents/interest'"
          [placeholderText]="'Select talent/interest'"
        ></app-talent-categories>
      </div> -->
      <div class="col-xl-6">
        <label for="">
          <span
            class="error-block"
            *ngIf="profileForm.get('instagram').hasError('pattern')"
          >
            * The URL is not valid
          </span>
          Instagram profile link</label
        >
        <input
          class="input-design"
          formControlName="instagram"
          [pattern]="instagramPattern"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <label for="">
          <span
            class="error-block"
            *ngIf="profileForm.get('facebook').hasError('pattern')"
          >
            * The URL is not valid
          </span>
          Facebook profile link</label
        >
        <input
          class="input-design"
          formControlName="facebook"
          [pattern]="facebookPattern"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <label for="">
          <span
            class="error-block"
            *ngIf="profileForm.get('twitter').hasError('pattern')"
          >
            * The URL is not valid
          </span>
          Twitter Profile link</label
        >
        <input
          class="input-design last"
          formControlName="twitter"
          [pattern]="twitterPattern"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <label for="">
          <span
            class="error-block"
            *ngIf="profileForm.get('youtube').hasError('pattern')"
          >
            * The URL is not valid
          </span>
          Youtube profile link</label
        >
        <input
          class="input-design last"
          formControlName="youtube"
          [pattern]="youtubePattern"
          type="text"
        />
      </div>
      <div class="col-xl-12" formArrayName="additionalSocial">
        <div
          class="row"
          *ngFor="
            let otherSocialCtr of additionalSocial.controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <div class="col-xl-6">
            <label for="">Profile link</label>
            <input
              class="input-design last"
              formControlName="social"
              type="text"
            />
          </div>
          <div class="col-xl-2">
            <button class="btn btn-danger">X</button>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-12">
        <div class="social-media">
          <a (click)="onAddAdditionalSocial()"
            >+ Add another social media profile link</a
          >
        </div>
      </div> -->

      <div class="col-xl-12">
        <button
          class="box-btn profile-save"
          [class.box-btn-disable]="!profileForm.valid || !profileForm.touched"
          [disabled]="
            !profileForm.valid ||
            (inProgress$ | async) ||
            (!isCompleted$ | async) ||
            (!failed$ | async)
          "
          (click)="onUpdateProfile()"
        >
          <span *ngIf="(isInitiated$ | async) || (isCompleted$ | async)"
            >SAVE CHANGES</span
          >
          <span *ngIf="(inProgress$ | async) || (!isCompleted$ | async)"
            >SAVING CHANGES...</span
          >
        </button>
      </div>
    </div>
  </div>
</div>
