<div
  class="tab-pane fade show active"
  id="profile"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="row">
    <div class="col-xl-12">
      <div class="profile-des">
        <p>
          Fill your details; your personal details, contact detail, talents,
          location and social media handles.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <app-change-profile-picture></app-change-profile-picture>
    </div>
    <div class="col-xl-12" *ngIf="!isTalent">
      <app-change-professional-banner></app-change-professional-banner>
    </div>
  </div>
  <div [formGroup]="profileForm">
    <div class="row">
      <div class="col-xl-6">
        <label for="" *ngIf="isTalent">Stage Name</label>
        <label for="" *ngIf="!isTalent">Business Name</label>
        <input class="input-design" formControlName="name" type="text" />
      </div>
      <div class="col-xl-3" *ngIf="!isTalent">
        <label for="">rcNumber</label>
        <input class="input-design" formControlName="rcNumber" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Full Name</label>
        <input class="input-design" formControlName="fullName" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Location</label>
        <input class="input-design" formControlName="location" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Email Address</label>
        <input
          class="input-design"
          formControlName="emailAddress"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <label for="">Mobile Number</label>
        <input class="input-design" formControlName="phoneNumber" type="text" />
      </div>
      <div class="col-xl-12">
        <div class="bio">
          <h4>Short Bio</h4>
          <span class="condition"
            >Word length restriction from the backend</span
          >
        </div>
        <textarea
          class="text-area"
          name=""
          id=""
          cols="30"
          rows="10"
          formControlName="shortBio"
        ></textarea>
      </div>
      <div class="col-xl-12">
        <h4 class="profile-ctg">Add your talent</h4>
        <app-talent-categories></app-talent-categories>
      </div>
      <div class="col-xl-6">
        <label for="">Instagram profile link</label>
        <input class="input-design" formControlName="instagram" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Facebook profile link</label>
        <input class="input-design" formControlName="facebook" type="text" />
      </div>
      <div class="col-xl-6">
        <label for="">Twitter Profile link</label>
        <input
          class="input-design last"
          formControlName="twitter"
          type="text"
        />
      </div>
      <div class="col-xl-6">
        <label for="">Youtube profile link</label>
        <input
          class="input-design last"
          formControlName="youtube"
          type="text"
        />
      </div>
      <div class="col-xl-12" formArrayName="additionalSocial">
        <div
          class="row"
          *ngFor="
            let otherSocialCtr of profileForm.get('additionalSocial');
            let i = index
          "
          [formGroupName]="i"
        >
          <div class="col-xl-6">
            <label for="">Profile link</label>
            <input
              class="input-design last"
              formControlName="social"
              type="text"
            />
          </div>
          <div class="col-xl-2">
            <button class="btn btn-danger">X</button>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="social-media">
          <a (click)="onAddAdditionalSocial()"
            >+ Add another social media profile link</a
          >
        </div>
      </div>

      <div class="col-xl-12">
        <button class="box-btn profile-save" (click)="onUpdateProfile()">
          SAVE CHANGES
        </button>
      </div>
    </div>
  </div>
</div>
