<a
  class="album-img mb-30"
  href="#talentModal"
  data-toggle="modal"
  data-target="#talentModal"
>
  <img src="assets/img/talent/album-1.jpg" alt="" />
  <div class="title-content">
    <span class="subject">Wedding Photography</span>
    <span class="date">22 December 2019</span>
  </div>
  <span class="number">6</span>
</a>
<a
  class="album-img"
  href="#talentModal"
  data-toggle="modal"
  data-target="#talentModal"
>
  <img src="assets/img/talent/album-1.jpg" alt="" />
  <div class="title-content">
    <span class="subject">Wedding Photography</span>
    <span class="date">22 December 2019</span>
  </div>
  <span class="number">6</span>
</a>
