<!-- Gig-one Area Start -->
<div class="gig-one-area pt-70 pb-150 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10">
        <div class="gig-header mb-45">
          <h3>General Terms & Conditions</h3>
          <p>
            Untapped Pool
          </p>
        </div>
      </div> -->
    </div>
    <div class="main-gigs-wrapper">
      <div class="row">
        <div class="col-xl-12">
          <div class="gigs-counter">
            <div class="single active">
              <span
                >General Terms & Conditions – Last update
                {{ termsLastUpdateDate }}</span
              >
            </div>
          </div>
          <div class="gigs-view-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="about-author mb-40">
                  <h4><b>In General</b></h4>
                  <p>
                    Untapped Pool
                    <a
                      style="color: red; text-decoration: underline;"
                      href="https://www.untappedpool.com"
                      >untappedpool.com</a
                    >
                    owns and operate this Website. This document governs your
                    relationship with ("Untappedpool.com") ("Website"). Access
                    to and use of this Website available through this Website
                    (the "Content") are subject to the following terms,
                    conditions and notices (the " Terms and Conditions "). By
                    using the Content, you are agreeing to all of the Terms and
                    Conditions, as may be updated by us from time to time. You
                    should check this page regularly to take notice of any
                    changes we may have made to the Terms and Conditions.
                  </p>
                  <p>
                    Access to this Website is permitted on a temporary basis,
                    and we reserve the right to withdraw or amend the Content
                    without notice. We will not be liable if for any reason this
                    Website is unavailable at any time or for any period. From
                    time to time, we may restrict access to some parts or all of
                    this Website.
                  </p>
                  <p>
                    This Website may contain links to other websites (the
                    "Linked Sites"), which are not operated by
                    <a
                      style="color: red; text-decoration: underline;"
                      href="https://www.untappedpool.com"
                      >untappedpool.com</a
                    >.
                    <a
                      style="color: red; text-decoration: underline;"
                      href="https://www.untappedpool.com"
                      >untappedpool.com</a
                    >
                    has no control over the Linked Sites and accepts no
                    responsibility for them or for any loss or damage that may
                    arise from your use of them. Your use of the Linked Sites
                    will be subject to the terms of use and service contained
                    within each such site.
                  </p>
                  <h4><b>Privacy Policy</b></h4>
                  <p>
                    Our privacy policy, which sets out how we will use your
                    information, can be found at [Privacy Policy Link]. By using
                    this Website, you consent to the processing described
                    therein and warrant that all data provided by you is
                    accurate.
                  </p>
                  <h4><b>Prohibitions</b></h4>
                  <p>
                    You must not misuse this Website. You will not: commit or
                    encourage a criminal offense; transmit or distribute a
                    virus, trojan, worm, logic bomb or any other material which
                    is malicious, technologically harmful, in breach of
                    confidence or in any way offensive or obscene; hack into any
                    aspect of the Service; corrupt data; cause annoyance to
                    other users; infringe upon the rights of any other person's
                    proprietary rights; send any unsolicited advertising or
                    promotional material, commonly referred to as "spam"; or
                    attempt to affect the performance or functionality of any
                    computer facilities of or accessed through this Website.
                    Breaching this provision would constitute a criminal offense
                    and
                    <a style="color: red;" href="https://www.untappedpool.com"
                      >untappedpool.com</a
                    >
                    will report any such breach to the relevant law enforcement
                    authorities and disclose your identity to them.
                  </p>
                  <h4><b>Intellectual Property, Software and Content</b></h4>
                  <p>
                    The intellectual property rights in all software and content
                    (including photographic images) made available to you on or
                    through this Website remains the property of
                    <a style="color: red; text-decoration: underline;"
                      >Untappedpool.com</a
                    >
                    are protected by copyright laws and treaties around the
                    world. All such rights are reserved by
                    <a style="color: red; text-decoration: underline;"
                      >untappedpool.com</a
                    >. You are not permitted to publish, manipulate, distribute
                    or otherwise reproduce, in any format, any of the content or
                    copies of the content supplied to you or which appears on
                    this Website nor may you use any such content in connection
                    with any business or commercial enterprise.
                  </p>
                  <h4><b>Terms of Use</b></h4>
                  <p>
                    Terms of UseIn order to contract with
                    <a style="color: red;">untappedpool.com</a>
                    you must be over 18 years of age and possess a valid credit
                    or debit card issued by a bank acceptable to us.
                    <a style="color: red; text-decoration: underline;"
                      >untappedpool.com</a
                    >
                    retains the right to refuse any request made by you.
                  </p>
                  <h4><b>Indemnity</b></h4>
                  <p>
                    You agree to indemnify, defend and hold harmless
                    <a style="color: red; text-decoration: underline;"
                      >untappedpool.com")</a
                    >, its directors, officers, employees, consultants, agents,
                    and affiliates, from any and all third party claims,
                    liability, damages and/or costs (including, but not limited
                    to, legal fees) arising from your use of this Website or
                    your breach of the Terms and Conditions.
                  </p>
                  <h4><b>Variation</b></h4>
                  <p>
                    <span style="color: red; text-decoration: underline;"
                      >Untappedpool.com</span
                    >
                    shall have the right in its absolute discretion at any time
                    and without notice to amend, remove or vary the Content
                    and/or any page of this Website.
                  </p>
                  <h4><b>Invalidity</b></h4>
                  <p>
                    If any part of the Terms and Conditions is unenforceable
                    (including any provision in which we exclude our liability
                    to you) the enforceability of any other part of the Terms
                    and Conditions will not be affected all other clauses
                    remaining in full force and effect. So far as possible where
                    any clause/sub-clause or part of a clause/sub-clause can be
                    severed to render the remaining part valid, the clause shall
                    be interpreted accordingly. Alternatively, you agree that
                    the clause shall be rectified and interpreted in such a way
                    that closely resembles the original meaning of the clause
                    /sub-clause as is permitted by law.
                  </p>
                  <h4><b>Complaints</b></h4>
                  <p>
                    We operate a complaints handling procedure which we will use
                    to try to resolve disputes when they first arise, please let
                    us know if you have any complaints or comments.
                  </p>
                  <h4><b>Waiver</b></h4>
                  <p>
                    If you breach these conditions and we take no action, we
                    will still be entitled to use our rights and remedies in any
                    other situation where you breach these conditions.
                  </p>
                  <h4><b>Entire Agreement</b></h4>
                  <p>
                    The above Terms and Conditions constitute the entire
                    agreement between us and you, and supersede any and all
                    preceding and contemporaneous agreements between you and
                    <a style="color: red; text-decoration: underline;"
                      >untappedpool.com</a
                    >. Any waiver of any provision of the Terms and Conditions
                    will be effective only if in writing and signed by a
                    Director of
                    <a style="color: red; text-decoration: underline;"
                      >untappedpool.com</a
                    >.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gig-one Area End -->
