<div class="search-box mb-25">
  <input class="input-design" type="text" placeholder="Search talents" />
  <span class="search-icn"><i class="fas fa-search"></i></span>
  <!-- <ul class="search-iitem">
    <li>item 1</li>
    <li>item 1</li>
    <li>item 1</li>
    <li>item 1</li>
    <li>item 1</li>
  </ul> -->
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Singing</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Dancing</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Acting</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Drumming</a>
    </li>
    <!-- <li class="page-item">
      <a class="page-link" href="#">Contortion</a>
    </li> -->
    <li class="page-item">
      <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
    </li>
  </ul>
</nav>
