<li *ngFor="let item of (userTypesState | async ).userTypes['data'] | keyvalue; let i = index">
    <div class="community-wrp" 
    [formGroup]="userTypeForm" 
    style="cursor:pointer"
    (click)="onClick(item.value['_id'])" >
        <label class="round">
            <input type="radio"
            name ="typeOfUser"
            formControlName="typeOfUser"
            [value]="item.value['_id']"
            (click)="onClick(item.value['_id'])"
            required>
            <span class="checkmark"></span>
        </label>
        <div class="right-wrp">
            <div class="talent-sign-up">
                <span class="iconn"><img src="{{icons[item.value['name']]}}" alt=""></span>
                <h4>{{item.value['name']}}</h4>
            </div>
            <p>{{item.value['description']}}</p>
        </div>
    </div>
</li>