<!-- Log-In Area Start -->
<div class="login-area pt-75 pb-100">
  <div class="container-fluid">
    <form class="login-wrapper" [formGroup]="signinForm">
      <div class="head text-center mb-30">
        <span>Sign In to</span>
        <h3>untapped pool</h3>
      </div>
      <div class="login-form">
        <label for="">
          <span
            class="error-block"
            *ngIf="
              !signinForm.get('email').valid && signinForm.get('email').touched
            "
          >
            *
          </span>
          Email
        </label>
        <input
          class="input-design mb-35"
          type="email"
          formControlName="email"
        />
        <label for="">
          <span
            class="error-block"
            *ngIf="
              !signinForm.get('password').valid &&
              signinForm.get('password').touched
            "
          >
            *
          </span>
          Password</label
        >
        <input
          class="input-design"
          type="password"
          formControlName="password"
        />
        <a
          style="cursor: pointer; float: right;"
          routerLink="/account/password/forgot"
          routerLinkActive="visited"
          [routerLinkActiveOptions]="{ exact: true }"
          >Forgot your password</a
        >
        <!-- <span class="error-block" *ngIf="hasError">
          {{ errorMessage }}
        </span> -->
        <button
          #loginButton
          class="box-btn login-btn mt-50"
          [disabled]="!signinForm.valid || (inProgress$ | async)"
          (click)="onSignin()"
          type="button"
        >
          <span *ngIf="(initiated$ | async) || (loginCompleted$ | async)"
            >Login</span
          >
          <span *ngIf="(inProgress$ | async) || (!loginCompleted$ | async)"
            >Logging In
            <img src="assets/bars.svg" />
          </span>
        </button>
      </div>
      <!-- <div class="log-other text-center mt-55">
        <span>Sign In With</span>
        <div class="alternative mt-25">
          <a class="ggl"><i class="fab fa-google"></i>Google account</a>
          <a class="fb"><i class="fab fa-facebook"></i>Facebook account</a>
        </div>
      </div> -->
    </form>
  </div>
</div>
<!-- Log-In Area End -->
