<app-header></app-header>
<!-- <router-outlet (scroll)="onWindowScroll($event)"></router-outlet> -->
<router-outlet>
  <!-- <app-latest-contest-landing></app-latest-contest-landing> -->
</router-outlet>

<div class="fx-padding footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-4">
        <div class="logo-footer">
          <a href=""
            ><img src="assets/img/ft-logo.svg" alt="" /><span
              >untapped pool</span
            ></a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4">
        <p>contact@untappedpool.com</p>
      </div>
      <div class="col-lg-2 col-md-6 mt-4">
        <div class="footer-menu">
          <ul>
            <li>
              <a
                style="cursor: pointer;"
                routerLink="./competition-terms-condition"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="visited"
                >Competition Terms & Condition</a
              >
            </li>
            <li>
              <a
                style="cursor: pointer;"
                routerLink="./about-us"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="visited"
                >About</a
              >
            </li>
            <li><a>Contact Us</a></li>
            <li><a>Privacy Policy</a></li>
            <li>
              <a
                style="cursor: pointer;"
                routerLink="./terms-condition"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="visited"
                >General Terms & Condition</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4">
        <div class="footer-social">
          <span>Follow us</span>
          <li>
            <a href="https://facebook.com/untappedpool"
              ><img src="assets/img/facebook.svg"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/untappedpool"
              ><img src="assets/img/twitter.svg"
            /></a>
          </li>
          <li>
            <a><img src="assets/img/drible.svg" alt="" /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/official_untappedpool"
              ><img src="assets/img/insta.svg" alt=""
            /></a>
          </li>
          <li>
            <a><img src="assets/img/linkdine.svg" alt="" /></a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-header id="top-header"></app-header> -->
