<div class="row no-gutters">
  <div class="col-xl-12">
    <div class="new-port-up-wrp">
      <h4>New Portfolio Upload</h4>
      <div class="p-port-up-btn">
        <a class="up-btn single" href="#">Single upload</a>
        <a class="up-btn multiple" href="#">Multiple upload</a>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-xl-12">
    <div class="popup-img p-profile">
      <img src="assets/img/talent/pop-talent.jpg" alt="" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <form action="#" class="p-profile">
      <div class="input-1 pro-page profile">
        <label for="">Title</label>
        <input type="text" class="input-design" />
      </div>
      <div class="input-1 pro-page ">
        <label for="">Short about <em>Word count restriction here</em></label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="git-btn p-profile">
        <button class="box-btn">ADD TO PORTFOLIO</button>
      </div>
    </form>
  </div>
</div>
