<div class="accor-wrapper">
  <div class="accor-head mb-30">
    <h5>
      <span>Search result : </span> {{ filteredUsers.length }}
      {{ typeOfFilter }} found
    </h5>
  </div>

  <div class="accordion-content acor-pg-2" #scrollframe>
    <a
      *ngFor="let user of filteredUsers; trackBy: trackByFn; let i = index"
      (click)="onUserSelected(i)"
      style="cursor: pointer"
    >
      <div
        class="accor-item"
        [class.accor-item-active]="filteredUsers[i].isSelected"
      >
        <div class="accor-img">
          <img
            [defaultImage]="user.defaultImageFullPath"
            [lazyLoad]="user.displayPhotoFullPath"
            style="width: 108px; height: 65px; background: lightgray"
          />
        </div>
        <div class="accor-content">
          <h4 class="text-capitalize">{{ user.displayName }}</h4>
          <p>
            {{ user.shortDescription | truncateText: 80 }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
