<!-- Header bar section start -->
<div class="slide-menu">
  <div class="slide-menu-main">
    <ul>
      <li>
        <a href=""><img src="assets/img/i1.svg" alt="" />Home</a>
      </li>
      <li>
        <a href=""><img src="assets/img/i2.svg" alt="" />Travels</a>
      </li>
      <li>
        <a href=""><img src="assets/img/i3.svg" alt="" />Profactional</a>
      </li>
    </ul>
  </div>
  <div class="menu-btn-info">
    <a href="">login</a>
    <a class="box-btn" href="">signup</a>
  </div>
  <div class="close-btn"><i class="fal fa-window-close"></i></div>
</div>

<!-- slide menu here-->
<!-- <app-slide-menu></app-slide-menu> -->
<!-- slide menu here-->

<div class="header-menu-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-12">
        <div class="logo">
          <a href=""
            ><img src="assets/img/main-logo.svg" alt="" /><span
              >untapped pool</span
            ></a
          >
          <span class="menu-open"><i class="fal fa-align-right"></i></span>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 text-right">
        <div class="mainmenu-main">
          <nav id="mobile-menu-active">
            <ul>
              <li>
                <a
                  routerLink="/"
                  routerLinkActive="visited"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Home</a
                >
              </li>
              <li>
                <a
                  routerLink="/talents"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                >
                  Talents</a
                >
              </li>
              <li>
                <a
                  routerLink="/professionals"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                >
                  Professionals</a
                >
              </li>
              <li>
                <a
                  routerLink="/contests"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                >
                  Contests</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-12 text-right">
        <div class="before-login" *ngIf="!isAuthenticated">
          <div class="menu-btn">
            <a routerLink="account/signin" routerLinkActive="">login</a>
            <a class="box-btn" routerLink="account/signup" routerLinkActive=""
              >signup</a
            >
          </div>
        </div>
        <div class="after-login" *ngIf="isAuthenticated">
          <div class="mainmenu-main">
            <nav id="mobile-menu-active">
              <ul>
                <li class="bell">
                  <a href="#"><i class="far fa-bell"></i></a><span>4</span>
                </li>
                <li class="user">
                  <img
                    style="height: 25px; width: 25px; border-radius: 50%;"
                    src="{{ userImage }}"
                    alt=""
                  />
                  <span>{{ userFullName }}</span>
                  <div class="drpdown">
                    <ul class="top">
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Professional'"
                          routerLink="user/contest/page"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'all' }"
                          >Contests</a
                        >
                      </li>
                      <li>
                        <a
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'wallet' }"
                          >Wallet</a
                        >
                      </li>
                      <!-- <li>
                        <a *ngIf="typeOfUser === 'Talent'"
                          >New Portfolio Upload</a
                        >
                      </li> -->
                    </ul>
                    <ul class="bot">
                      <li>
                        <a
                          *ngIf="typeOfUser !== 'Audience'"
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'profile' }"
                          >Profile</a
                        >
                      </li>
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Talent'"
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'portfolio' }"
                          >Portfolio</a
                        >
                      </li>
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Talent'"
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'settings' }"
                          >Settings</a
                        >
                      </li>
                      <li><a (click)="onLogOut()">Logout</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header bar section complate -->
