<!-- Header bar section start -->
<div class="slide-menu" [class.activee]="showSideToggle">
  <div class="slide-menu-main" *ngIf="isAuthenticated">
    <ul class="active-top">
      <li (click)="onSideToggleClick()">
        <a
          routerLink="/"
          routerLinkActive="visited"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a
          routerLink="/talents"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
        >
          Talents</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a
          routerLink="/professionals"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
        >
          Professionals</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a
          routerLink="/competitions"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
        >
          Competitions</a
        >
      </li>
    </ul>

    <ul>
      <li (click)="onSideToggleClick()">
        <a
          *ngIf="typeOfUser === 'Professional'"
          routerLink="user/competition/page"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
          [queryParams]="{ tab: 'all' }"
          >Manage Competition</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a
          *ngIf="typeOfUser === 'Talent'"
          routerLink="./user/{{ userPreEmailAdress }}"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
          [queryParams]="{ tab: 'wallet' }"
          >Wallet</a
        >
      </li>
    </ul>

    <ul class="active-top">
      <li (click)="onSideToggleClick()">
        <a
          *ngIf="typeOfUser !== 'Audience'"
          routerLink="./user/{{ userPreEmailAdress }}"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
          [queryParams]="{ tab: 'profile' }"
          >Profile</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a
          *ngIf="typeOfUser === 'Talent'"
          routerLink="./user/{{ userPreEmailAdress }}"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
          [queryParams]="{ tab: 'portfolio' }"
          >Portfolio</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a
          routerLink="./user/{{ userPreEmailAdress }}"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="visited"
          [queryParams]="{ tab: 'settings' }"
          >Settings</a
        >
      </li>
      <li (click)="onSideToggleClick()">
        <a class="box-btn" (click)="onLogOut()">Logout</a>
      </li>
    </ul>
  </div>
  <div class="slide-menu-main" *ngIf="!isAuthenticated">
    <div class="menu-btn-info">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="visited"
            (click)="onSideToggleClick()"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home</a
          >
        </li>
        <li>
          <a
            routerLink="/talents"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            (click)="onSideToggleClick()"
          >
            Talents</a
          >
        </li>
        <li>
          <a
            routerLink="/professionals"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            (click)="onSideToggleClick()"
          >
            Professionals</a
          >
        </li>
        <li>
          <a
            routerLink="/competitions"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            (click)="onSideToggleClick()"
          >
            Competitions</a
          >
        </li>
      </ul>
      <a
        routerLink="account/login"
        (click)="closeSlideMenu()"
        routerLinkActive=""
        >login</a
      >
      <a
        class="box-btn"
        (click)="closeSlideMenu()"
        routerLink="account/signup"
        routerLinkActive=""
        >signup</a
      >
    </div>
  </div>
  <div class="close-btn" (click)="onSideToggleClick()">
    <i class="fal fa-window-close"></i>
  </div>
</div>

<!-- slide menu here-->
<!-- <app-slide-menu></app-slide-menu> -->
<!-- slide menu here-->

<div class="header-menu-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-12">
        <div class="logo">
          <a style="cursor: pointer;" (click)="redirectHome()"
            ><img src="assets/img/main-logo.svg" alt="" /><span
              >untapped pool</span
            ></a
          >
          <span class="menu-open" (click)="onSideToggleClick()"
            ><i class="fal fa-align-right"></i
          ></span>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 text-right">
        <div class="mainmenu-main">
          <nav id="mobile-menu-active">
            <ul>
              <li>
                <a
                  routerLink="/"
                  routerLinkActive="visited"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Home</a
                >
              </li>
              <li>
                <a
                  routerLink="/talents"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                >
                  Talents</a
                >
              </li>
              <li>
                <a
                  routerLink="/professionals"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                >
                  Professionals</a
                >
              </li>
              <li>
                <a
                  routerLink="/competitions"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                >
                  Competitions</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-12 text-right">
        <div class="before-login" *ngIf="!isAuthenticated">
          <div class="menu-btn">
            <a routerLink="account/login" routerLinkActive="">login</a>
            <a class="box-btn" routerLink="account/signup" routerLinkActive=""
              >signup</a
            >
          </div>
        </div>
        <div class="after-login" *ngIf="isAuthenticated">
          <div class="mainmenu-main">
            <nav id="mobile-menu-active">
              <ul>
                <li class="bell">
                  <a><i class="far fa-bell"></i></a><span>4</span>
                </li>
                <li class="user" (click)="onToggle()">
                  <img
                    #headerImage
                    [defaultImage]="userImage"
                    [lazyLoad]="userImage"
                    style="
                      height: 25px;
                      width: 25px;
                      border-radius: 50%;
                      background: lightgray;
                    "
                  />
                  <span>
                    {{ userFullName | truncateText: 15 }}
                    <img
                      *ngIf="!showDropDown"
                      style="width: 10px; height: 10px;"
                      src="assets/img/down-arrow.svg"
                    />
                    <img
                      *ngIf="showDropDown"
                      style="width: 10px; height: 10px;"
                      src="assets/img/up-arrow.svg"
                    />
                  </span>
                  <div
                    class="drpdown"
                    [class.active.drpdown]="showDropDown"
                    [class.user.icon]="showDropDown"
                  >
                    <ul class="top">
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Professional'"
                          routerLink="user/competition/page"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'new' }"
                          >New Competition</a
                        >
                      </li>
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Professional'"
                          routerLink="user/competition/page"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'all' }"
                          >Competitions</a
                        >
                      </li>
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Talent'"
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'wallet' }"
                          >Wallet</a
                        >
                      </li>
                      <!-- <li>
                        <a *ngIf="typeOfUser === 'Talent'"
                          >New Portfolio Upload</a
                        >
                      </li> -->
                    </ul>
                    <ul class="bot">
                      <li>
                        <a
                          *ngIf="typeOfUser !== 'Audience'"
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'profile' }"
                          >Profile</a
                        >
                      </li>
                      <li>
                        <a
                          *ngIf="typeOfUser === 'Talent'"
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'portfolio' }"
                          >Portfolio</a
                        >
                      </li>
                      <li>
                        <a
                          routerLink="./user/{{ userPreEmailAdress }}"
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="visited"
                          [queryParams]="{ tab: 'settings' }"
                          >Settings</a
                        >
                      </li>
                      <li><a (click)="onLogOut()">Logout</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header bar section complate -->
