<li *ngFor="let item of (rolesState | async).roles; let i = index">
  <div
    class="community-wrp"
    [formGroup]="roleForm"
    style="cursor:pointer"
    (click)="onClick(item._id)"
  >
    <label class="round">
      <input
        type="radio"
        name="roleOfUser"
        formControlName="roleOfUser"
        [value]="item._id"
        (click)="onClick(item._id)"
        required
      />
      <span class="checkmark"></span>
    </label>
    <div class="right-wrp">
      <div class="talent-sign-up">
        <span class="iconn"><img src="{{ icons[item.name] }}" alt=""/></span>
        <h4>{{ item.name }}</h4>
      </div>
      <p>{{ item.description }}</p>
    </div>
  </div>
</li>
