<div class="row no-gutters" body>
  <div class="col-xl-12">
    <div class="p-user p-talent">
      <div class="p-user-img">
        <img src="{{ selectedUser?.displayPhotoFullPath }}" alt="" />
      </div>
      <div class="p-talent-nam">
        <h5>{{ selectedUser?.displayName }}’s</h5>
        <div class="desig-up-wrap">
          <span class="designation"> {{ selectedMedia?.mediaType }} album</span>
          <span class="up-date">{{ selectedMedia?.dateCreated | date }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="album-viewer">
      <div class="popup-img d-inline-block popup-img-mobile">
        <div style="overflow: auto;">
          <img
            [defaultImage]="defaultImagePath"
            [lazyLoad]="imagePath"
            *ngIf="isCurrentImageSet"
            style="width: 435px; height: 289px; background: lightgray;"
          />

          <app-audio-payer
            [currentAudio]="currentAudioItem"
            [style.display]="isCurrentAudioSet ? 'block' : 'none'"
            [width]="435"
            [height]="289"
          ></app-audio-payer>

          <app-video-player
            [currentVideo]="currentVideoItem"
            [style.display]="isCurrentVideoSet ? 'block' : 'none'"
            [width]="435"
            [height]="289"
          ></app-video-player>

          <div class="user-part">
            <div class="p-user-content p-talent">
              <h4>{{ selectedMedia.mediaTitle }}</h4>
              <p>
                {{ selectedMedia.mediaDescription }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-talent-comment></app-talent-comment> -->

      <div style="width: 47%; float: right;">
        <app-talent-comment
          [mediaId]="selectedMedia?._id"
          *ngIf="completed$ | async"
        ></app-talent-comment>
      </div>

      <div style="width: 47%; float: right;">
        <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
          ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
        /></a>

        <a
          style="cursor: pointer;"
          (click)="fetchComments(selectedMedia._id)"
          *ngIf="failed$ | async"
        >
          Unable to fetch comments. Try again
          <img
            src="assets/retry.svg"
            style="width: 30px; height: 30px; margin: 0 auto;"
            alt="Click button to retry"
        /></a>
      </div>
    </div>
  </div>
</div>
