<!-- Header bar section complate -->
<!-- Contest Area Start -->
<div class="contest-header-area">
  <div class="container-custom">
    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="section-title">
          <h2>Contests</h2>
          <p>
            Contests are regularly launched so you can practice your craft, gain
            exposure<br />
            and earn great prizes. Explore our open contests and submit your
            work!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contest-area pt-40 pb-75 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-xl-9 col-lg-9 col-md-9 col-12">
        <a *ngIf="(initiated$ | async) || (inProgress$ | async)"
          ><img src="assets/bars.svg" style="width: 30px; height: 30px;"
        /></a>

        <a
          style="cursor: pointer;"
          (click)="fetchRunningContests()"
          *ngIf="failed$ | async"
          >Unable to fetch contests. Try again
          <img
            src="assets/retry.svg"
            style="width: 30px; height: 30px; margin: 0 auto;"
            alt="Click button to retry"
        /></a>
      </div> -->
      <div class="col-xl-9 col-lg-9 col-md-9 col-12">
        <div
          class="row"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="150"
          (scrolled)="onScroll()"
        >
          <a
            style="cursor: pointer;"
            (click)="getContests()"
            *ngIf="failed$ | async"
            >We were unable to fetch contests. Try again.
            <img
              src="assets/retry.svg"
              style="width: 30px; height: 30px; margin: 0 auto;"
              alt="Click button to retry"
            />
          </a>
          <div
            class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12"
            style="cursor: pointer;"
            *ngFor="let contest of contests; let i = index"
          >
            <div
              class="contest-wrapper mb-30"
              (click)="navigateToDetail(contest._id)"
            >
              <div class="contest-img">
                <a
                  [routerLink]="['./', contest._id]"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="visited"
                  ><img
                    class="contets-mobile"
                    [defaultImage]="contest.defaultBannerImage"
                    [lazyLoad]="contest.fullBannerImage"
                    style="background: lightgray;"
                /></a>
                <div class="entries-content all-ent contest">
                  <span class="ent-num">
                    {{ contest.entryCount }}
                    {{ contest.entryCount > 1 ? "Entries" : "Entry" }}</span
                  >
                </div>
              </div>
              <div class="contesst-img-content">
                <h4>{{ contest.title }}</h4>
                <div class="i-text">
                  <p>
                    <img src="assets/img/eye.svg" alt="" />
                    {{ contest.viewCount }}
                  </p>
                  <p>
                    <img src="assets/img/grid.svg" alt="" />
                    {{ contest.endDate | date: "medium" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <span *ngIf="!notEmptyPost">No more items to show</span>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-12" *ngIf="completed$ | async">
        <div class="contest-sidebar">
          <span>ADS</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contest Area End -->
