<div class="row mb-50" *ngIf="userVideoPreviews.length > 0">
  <div class="col-xl-12">
    <div class="profile-alb-head">
      <h4>
        Video Portfolio
        <span *ngIf="userVideoPreviews.length === 1"
          >({{ userVideoPreviews.length }} album)</span
        >
        <span *ngIf="userVideoPreviews.length > 1"
          >({{ userVideoPreviews.length }} albums)</span
        >
      </h4>
    </div>
  </div>
  <div
    class="col-xl-4 col-lg-4 col-md-4 col-sm-6"
    *ngFor="let video of userVideoPreviews; trackBy: trackByFn; let i = index"
  >
    <div
      class="profile-alb-wrapper mb-30"
      (click)="openModalDialog('gigs-modal', video._id)"
    >
      <div class="alb-image">
        <!-- <img src="{{ video.albumCover }}" alt="" /> -->
        <img
          [defaultImage]="video.defaultAlbumCover"
          [lazyLoad]="video.albumCover"
          style="height: 168px; width: 320px; background: lightgray"
          (click)="openModalDialog('gigs-modal', video._id)"
        />

        <!-- <div class="edit">
          <a><img src="assets/img/profile/edit.svg" alt="" />Edit</a>
        </div> -->
        <div class="delete" (click)="onDelete(video._id)">
          <a><img src="assets/img/profile/cross.svg" alt="" />Delete</a>
        </div>
        <span class="alb-counter">{{ userVideoPreviews.length }}</span>
      </div>
      <div class="alb-content">
        <h4>{{ video.title }}</h4>
        <p>{{ video.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>
