<div
  class="modal"
  tabindex="-1"
  role="dialog"
  id="{{ currentModal.name }}"
  [ngStyle]="{ display: currentModal.display }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content contest-d">
      <div class="row">
        <div class="col-xl-12">
          <ng-content select="[navigate]"></ng-content>
        </div>
      </div>
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>

<div class="backdrop" [ngStyle]="{ display: currentModal.display }"></div>
