<div
  [class]="currentModal?.modalCss"
  tabindex="-1"
  #modalPopup
  role="dialog"
  id="{{ currentModal?.name }}"
  [ngStyle]="{ display: currentModal?.display }"
>
  <div [class]="currentModal?.modalDialogCss" role="document">
    <div [class]="currentModal?.modalContentCss">
      <div class="row">
        <div class="col-xl-12">
          <ng-content select="[navigate]"></ng-content>
        </div>
      </div>
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>

<div class="backdrop" [ngStyle]="{ display: currentModal?.display }"></div>
