<div
  class="modal fade"
  [attr.id]="currentModal.name"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModalLabel"
  [attr.aria-hidden]="currentModal.show"
>
  <div class="modal-dialog profileModal" role="document">
    <div class="modal-content contest-d">
      <div class="row">
        <div class="col-xl-12">
          <div class="pop-icon-bar pop-talent">
            <ng-content select="[navigate]"></ng-content>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="far fa-times"></i></span>
            </button>
          </div>
        </div>
      </div>
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>
