<vg-player style="height: 302px;" (onPlayerReady)="onVideoPlayerReady($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>
  <vg-controls>
    <vg-play-pause></vg-play-pause>
    <vg-playback-button></vg-playback-button>

    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

    <vg-mute></vg-mute>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>
  <!-- <vg-overlay-play
vgFor="audio_{{ currentAudioItem._id }}"
></vg-overlay-play> -->
  <video
    #media
    [vgMedia]="media"
    id="video_{{ currentVideo._id }}"
    preload="auto"
  >
    <source src="{{ currentVideo.fullVideoPath }}" [type]="currentVideo.type" />
  </video>
</vg-player>
