<!-- Header bar section complate -->
<!-- Log-In Area Start -->
<div class="login-area reset-pswd pt-75 pb-100">
  <div class="container-fluid">
    <div class="login-wrapper">
      <div class="head text-center mb-30">
        <span>Forgot Password</span>
        <h3>Type your email to reset</h3>
      </div>
      <form class="login-form" [formGroup]="forgotPasswordForm">
        <label for="">
          <span
            class="error-block"
            *ngIf="
              !forgotPasswordForm.get('email').valid &&
              forgotPasswordForm.get('email').touched
            "
          >
            Please enter
          </span>
          Your Email Address</label
        >
        <input
          class="input-design mb-35"
          type="email"
          formControlName="email"
        />
        <button
          #forgotButton
          [disabled]="!forgotPasswordForm.valid || (inProgress$ | async)"
          [class.box-btn-disable]="
            !forgotPasswordForm.valid || !forgotPasswordForm.touched
          "
          type="button"
          class="box-btn login-btn reset-pswd mt-50"
          (click)="onReset()"
        >
          <span *ngIf="(initiated$ | async) || (isCompleted$ | async)">
            Request Reset
          </span>

          <span *ngIf="(inProgress$ | async) || (!isCompleted$ | async)">
            Requesting...
          </span>
        </button>
      </form>
      <div class="log-other reset-pswd text-center mt-30">
        Remember your password?
        <a style="color: #06a9b0; cursor: pointer;">Login</a>
      </div>
    </div>
  </div>
</div>
<!-- Log-In Area End -->
