<!-- Gig-one Area Start -->
<div class="gig-one-area pt-70 pb-150 fx-padding">
  <div class="container-fluid">
    <div class="main-gigs-wrapper">
      <div class="row">
        <div class="col-xl-12">
          <div class="gigs-counter">
            <div class="single active">
              <span>About us</span>
            </div>
          </div>
          <div class="gigs-view-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="about-author mb-40">
                  <h4><b>Hey you! Whoops! Great to have you here! Yayy!</b></h4>
                  <p style="font-size: 14px;">
                    We're excited to have you here with us and together, we
                    shall tell everyone how super talented you are. You have
                    kept your gifts tucked up away in your house for too long.
                    It’s time to bring them all out and let’s celebrate you in
                    beneficial ways you least expect.
                  </p>
                  <p style="font-size: 14px;">
                    Here on Untapped Pool, we shall encourage you to showcase
                    your amazing super talents like never done before. We shall
                    push you to limits your potential has not known. We shall
                    expose you to the world out there. And we shall make sure
                    you get rewarded for the awesome value you bring our world.
                    You are priceless to us. And it’s for your sake we have put
                    up this platform.
                  </p>
                  <p style="font-size: 14px;">
                    Our dedicated team shall be ever present to help you come
                    out of your shyness and tell the world what you are capable
                    of doing, get rewarded and then assist you in getting deals
                    available anywhere.
                  </p>
                  <p style="font-size: 14px;">
                    So once again, welcome to the world of unlimited talents!
                  </p>
                  <h4><b>Yaks!!</b></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gig-one Area End -->
