<div
  class="single-contest-list"
  *ngFor="let entry of pendingEntries; let i = index"
  style="margin-bottom: 1rem; cursor: pointer"
  [ngSwitch]="entry.contest.entryMediaType"
>
  <div class="contest-list-main-inner" (click)="onEntrySelected(entry, i)">
    <div class="c-name">
      <h4 [class.c-name-entry-active]="selectedIndex === i && showContent">
        {{ i + 1 }}. {{ entry.title }}
      </h4>
    </div>
    <div class="c-rating"></div>
    <div class="c-comments"></div>
  </div>
  <div
    [class.show-entry]="selectedIndex === i && showContent"
    class="collapse mt-50"
  >
    <div class="over-view-area" [formGroup]="entryRejectionForm">
      <div class="container-fluid">
        <div class="row overview-mobile">
          <div class="col-lg-7">
            <div class="over-view-all-content">
              <!-- <h1 style="font-size: 1.8rem; word-break: break-word">
                {{ cont.title }}
              </h1> -->
              <div
                class="single-over-view-contnet-blk text-word-wrap"
                *ngIf="entry.additionalInfo"
              >
                <h4>Entry information</h4>
                <p>
                  {{ entry.additionalInfo }}
                </p>
              </div>
              <div
                class="c-b-votes-btn"
                style="
                  display: flex;
                  justify-content: space-between;
                  margin-left: -1.2rem;
                  max-width: 100%;
                "
              >
                <button
                  type="button"
                  (click)="onApproveEntry(entry._id)"
                  [disabled]="
                    (approvalInProgress$ | async) ||
                    (!approvalIsCompleted$ | async) ||
                    (!approvalFailed$ | async)
                  "
                  #entryApprovalButton
                  class="box-btn"
                  style="margin-right: 1rem"
                >
                  <span
                    *ngIf="
                      (approvalIsInitiated$ | async) ||
                      (approvalIsCompleted$ | async) ||
                      (approvalFailed$ | async)
                    "
                    >APPROVE</span
                  >
                  <span
                    *ngIf="
                      (approvalInProgress$ | async) ||
                      (!approvalIsCompleted$ | async)
                    "
                    >PROCESSING...</span
                  >
                </button>

                <button
                  type="button"
                  #entryRejectionButton
                  (click)="onRejectEntry(entry._id)"
                  [disabled]="
                    (rejectionInProgress$ | async) ||
                    (!rejectionIsCompleted$ | async) ||
                    (!rejectionFailed$ | async)
                  "
                  class="box-btn"
                  style="margin-right: 1rem"
                >
                  <span
                    *ngIf="
                      (rejectionIsInitiated$ | async) ||
                      (rejectionIsCompleted$ | async) ||
                      (rejectionFailed$ | async)
                    "
                    >REJECT</span
                  >
                  <span
                    *ngIf="
                      (rejectionInProgress$ | async) ||
                      (!rejectionIsCompleted$ | async)
                    "
                    >processing...</span
                  >
                </button>
                <textarea
                  class="input-design"
                  placeholder="Rejection reason"
                  cols="30"
                  rows="20"
                  style="resize: none; margin-right: 1rem"
                  formControlName="reason"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="side-img" *ngSwitchCase="'image'">
              <img
                style="width: 280px; height: 180px"
                src="{{ cloudFrontDomain }}/{{ entry.entry }}"
              />
            </div>

            <div class="side-img" *ngSwitchCase="'audio'">
              <video
                controls
                width="320"
                height="140"
                style="margin-right: 1rem"
              >
                <source
                  src="{{ audioPath }}/{{ entry.entry }}"
                  type="{{ entry.type }}"
                />
              </video>
            </div>

            <div class="side-img" *ngSwitchCase="'video'">
              <video
                controls
                width="320"
                height="240"
                style="margin-right: 1rem"
              >
                <source
                  src="{{ videoPath }}/{{ entry.entry }}"
                  type="{{ entry.type }}"
                />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
