<div [formGroup]="contestForm">
  <div
    class="tab-pane fade show active row tab2"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-7 col-12 mb-40">
        <div class="collect-outer-wrapper">
          <div>
            <div
              class="details-content new-contest-banner-top"
              style="display: none;"
            >
              <div class="sidebar-img">
                <img
                  [defaultImage]="defaultBannerImage"
                  [lazyLoad]="bannerImage"
                  style="width: 482px; height: 200px; background: lightgray;"
                  alt=""
                />
              </div>
            </div>
            <p>
              Fill your details; your personal details, contact detail, talents,
              location and social media handles.
            </p>
            <div class="input-1">
              <label for="">
                <span
                  class="error-block"
                  *ngIf="
                    !contestForm.get('title').valid &&
                    contestForm.get('title').touched &&
                    !contestForm.get('title').hasError('titleExist')
                  "
                >
                  Please provide provide
                </span>
                <span
                  class="error-block"
                  *ngIf="contestForm.get('title').hasError('titleExist')"
                >
                  Contest title exist
                </span>
                Contest Title</label
              >
              <input
                type="text"
                formControlName="title"
                autofocus
                placeholder="Some fancy title for your contest"
              />
            </div>
            <div class="input-1">
              <label for="">
                <span
                  class="error-block"
                  *ngIf="
                    !contestForm.get('basicInfo').valid &&
                    contestForm.get('basicInfo').touched
                  "
                >
                  Please provide provide
                </span>
                Contest Information</label
              >
              <textarea
                placeholder="Tell us more about your contest"
                formControlName="basicInfo"
                cols="30"
                rows="10"
                style="resize: none;"
              ></textarea>
            </div>
            <div class="upload">
              <div class="head">
                <label for="">+ Upload contest banner</label>
                <span>Banner size 500px by 400px</span>
              </div>
              <div class="upload-fld">
                <input readonly placeholder="Drag and drop file to upload or" />
                <button (click)="onClickBrowseBtn()">BROWSE</button>
                <!-- upload component goes here -->
                <app-upload [fileConfig]="fileConfig"> </app-upload>
                <!-- upload component goes here -->
              </div>
              <div class="input-1">
                <label for="">Eligble categories</label>
                <app-talent-categories
                  [text]="'Select eligible category'"
                  [placeholderText]="'Select category'"
                >
                </app-talent-categories>
              </div>
              <!-- <div class="input-1">
                <label for="">Eligibility</label>
                <textarea
                  formControlName="eligibityRule"
                  placeholder="Who is eligible to participate in your contest"
                  value=""
                  cols="30"
                  rows="10"
                  style="resize: none;"
                ></textarea>
              </div>
              <div class="input-1">
                <label for="">Submission rules</label>
                <textarea
                  formControlName="submissionRule"
                  placeholder="What rules binds the people who participate in your contest"
                  cols="30"
                  rows="10"
                  style="resize: none;"
                ></textarea>
              </div> -->
              <div class="duration">
                <label for=""
                  >Contest duration (<small>start date - end date</small
                  >)</label
                >
                <div class="duration-inner">
                  <input
                    formControlName="contestDuration"
                    [owlDateTimeTrigger]="dt10"
                    [owlDateTime]="dt10"
                    [selectMode]="'range'"
                    [min]="minDate"
                    [max]="maxDate"
                    title="Click to select start and end date"
                  />
                  <owl-date-time #dt10></owl-date-time>
                </div>

                <label for="" style="margin-top: 1rem;">
                  <span
                    class="error-block"
                    *ngIf="
                      !contestForm.get('entryMedia').valid &&
                      contestForm.get('entryMedia').touched
                    "
                  >
                    Please provide provide
                  </span>
                  Entry Media Type</label
                >
                <input
                  formControlName="entryMedia"
                  [(ngModel)]="selectedMediaType"
                  class="input-design"
                  (click)="onClick()"
                />
                <div class="custom-dropdown-container" *ngIf="showMediaTypes">
                  <div
                    class="custom-dropdown"
                    style="cursor: pointer;"
                    *ngFor="let media of mediaTypes; let i = index"
                    (click)="onSelectedMedia(i)"
                  >
                    {{ media.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-12 new-contest-banner">
        <div class="right-wrapper">
          <div class="details-content">
            <div class="sidebar-img">
              <img
                [defaultImage]="defaultBannerImage"
                [lazyLoad]="bannerImage"
                style="width: 482px; height: 395px; background: lightgray;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="tab-pane fade show active row tab2"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <div class="row">
      <div class="col-12">
        <div class="collect-outer-wrapper">
          <div>
            <div class="upload">
              <div class="prize">
                <div class="hd">
                  <h4>
                    Reward/Rewards
                  </h4>
                  <span
                    class="error-block"
                    *ngIf="!contestRewards.valid && contestRewards.touched"
                  >
                    Please provide reward / rewards
                  </span>
                </div>
              </div>
              <div class="winer-blk" formArrayName="contestRewards">
                <div
                  *ngFor="let reward of contestRewards.controls; let i = index"
                  [formGroupName]="i"
                >
                  <div class="single-winner-blk">
                    <label for=""> Winner {{ i + 1 }}: </label>
                    <input
                      placeholder="5000000"
                      currencyMask
                      formControlName="reward"
                      [options]="{
                        prefix: 'N ',
                        thousands: ',',
                        decimal: '.',
                        nullable: false
                      }"
                    />
                    <button
                      class="btn btn-danger cancel-winner-btn"
                      (click)="deleteReward(i)"
                    >
                      X
                    </button>
                  </div>
                </div>
                <div class="add-more-blk" style="cursor: pointer;">
                  <a (click)="onAddReward()"
                    ><i class="fal fa-plus"></i>Add More winners</a
                  >
                </div>
              </div>
            </div>
            <button
              class="box-btn create-btn"
              [disabled]="!contestForm.valid"
              type="button"
              (click)="onClickCreateButton()"
              style="margin-bottom: 1rem;"
            >
              CREATE CONTEST
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
