<!-- Header bar section complate -->
<!-- Profile Area Start -->
<div [class]="divCss">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <ul [class]="navCss" id="myTab" role="tablist">
          <li class="nav-item" *ngFor="let activeTab of (tab | async).tabs">
            <a
              class="nav-link active"
              [class.active]="activeTab.active"
              [routerLink]="['./']"
              [queryParams]="{ tab: activeTab.tag }"
            >
              {{ activeTab.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
<!-- Profile Area End -->
