<div class="row">
  <div class="col-xl-12">
    <div class="profile-alb-head">
      <h4>
        General media
        <span>({{ generalPreviews.length }} media)</span>
      </h4>
    </div>
  </div>
  <div
    class="col-xl-6 col-lg-6 col-md-6"
    *ngFor="let media of generalPreviews; let i = index"
  >
    <div class="audio-wrapper mb-30">
      <div class="audio-img" (click)="openModalDialog('gigs-modal', media._id)">
        <img
          [defaultImage]="media.defaultAlbumCover"
          [lazyLoad]="media.albumCover"
          style="height: 65px; width: 94x; background: lightgray;"
        />
        <div class="plays" *ngIf="media.mediaType !== 'image'">
          <a href="#"><img src="assets/img/profile/play.svg" alt="" /></a>
        </div>
        <div class="cros">
          <a><img src="assets/img/profile/cross.svg" alt="" /></a>
        </div>
      </div>
      <div class="audio-content">
        <div class="content-head">
          <span class="audio-hd">{{ media.title }} </span>
        </div>
        <p>{{ media.shortDescription | truncateText: 140 }}</p>
      </div>
    </div>
  </div>

  <!-- select media type -->
</div>
