<div class="col-xl-12 d-inline-block talent-comment-container">
  <div class="album-popup-content-wrap">
    <div class="collapse cmnt-bx show" id="collapseExample">
      <div
        class="card card-body album-card-body"
        [formGroup]="mediaCommentForm"
      >
        <textarea
          name=""
          placeholder="Add your comment here"
          id=""
          cols="10"
          rows="1"
          formControlName="mediaComment"
          style="line-height: 20px; padding-right: 50px; padding-top: 5px;"
        ></textarea>
        <a
          [class.disabled]="true"
          style="
            position: absolute;
            right: 13px;
            top: 16px;
            color: darkcyan !important;
            cursor: pointer;
          "
          *ngIf="isAuthenticated"
          (click)="onPostComment()"
          >Post</a
        >
        <a
          style="
            position: absolute;
            right: 13px;
            top: 16px;
            color: darkcyan !important;
            cursor: pointer;
          "
          *ngIf="!isAuthenticated"
          (click)="onSignUpClicked()"
          >Login</a
        >
      </div>
    </div>
    <div class="pop-review-outer-section" style="height: 297px;">
      <div class="pop-review-section" *ngFor="let item of mediaComments">
        <div class="p-rv-head">
          <div class="p-rev-img">
            <img src="{{ item.commenterfullProfileImagePath }}" alt="" />
          </div>
          <div class="p-rv-name">
            <h5>{{ item.user.fullName }}</h5>
          </div>
          <span class="p-time">{{ item.createdAt | date }} </span>
        </div>
        <div class="p-rv-content">
          <p>
            {{ item.comment }}
          </p>
          <div class="pop-express">
            <div class="p-like-reply">
              <span class="reply" (click)="onReplyClicked(item._id)"
                >Reply</span
              >
              <span
                class="like"
                *ngIf="!item.hasLiked"
                (click)="onLikeClicked(item)"
                >Like</span
              >
              <span
                class="like"
                (click)="onUnLikeClicked(item)"
                *ngIf="item.hasLiked"
                >UnLike</span
              >
            </div>
            <span class="react">
              {{ item.likeCount }}
              <img src="assets/img/contest/p-love.png" alt="" />
            </span>
          </div>
        </div>
      </div>

      <div class="pop-review-section" *ngIf="commentsLength < 1">
        <div class="p-rv-content">
          <p>
            Be the first to comment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
