<button class="accordion">
  <div class="accor-head">
    <span>Most played songs</span>
    <h3>Talents with most played songs</h3>
  </div>
</button>
<div class="accordion-content mt-25">
  <div class="accor-item">
    <div class="accor-img">
      <img src="assets/img/talent/acor-itm-1.jpg" alt="" />
    </div>
    <div class="accor-content">
      <h4>Burna Boy</h4>
      <p>
        The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
        quiz prog…
      </p>
    </div>
  </div>
  <div class="accor-item">
    <div class="accor-img">
      <img src="assets/img/talent/acor-itm-1.jpg" alt="" />
    </div>
    <div class="accor-content">
      <h4>Burna Boy</h4>
      <p>
        The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
        quiz prog…
      </p>
    </div>
  </div>
</div>
