<app-tabs>
  <div class="tab-content fix" id="myTabContent">
    <app-profile *ngIf="activeTab.tag === 'profile'"></app-profile>
    <div>
      <app-portfolio *ngIf="activeTab.tag === 'portfolio'"></app-portfolio>
    </div>
    <div>
      <app-settings *ngIf="activeTab.tag === 'settings'"></app-settings>
    </div>
    <div>
      <app-talent-contest
        *ngIf="activeTab.tag === 'contests'"
      ></app-talent-contest>
    </div>
    <div>
      <app-wallet *ngIf="activeTab.tag === 'wallet'"></app-wallet>
    </div>
  </div>
</app-tabs>
