<div class="middle-talent-wrp">
  <div
    class="prohead-img"
    style="text-align: center; background-color: lightgray;"
  >
    <img
      [defaultImage]="defaultBannerImage"
      [lazyLoad]="selectedUser.bannerPhotoFullPath"
      style="width: 877px; height: 275px; background: lightgray;"
      alt=""
    />
  </div>
  <div class="pro-search-right middle-outer-wrp">
    <div class="pro-little-img">
      <img
        [defaultImage]="defaultDisplayImage"
        [lazyLoad]="selectedUser.displayPhotoFullPath"
        style="width: 160px; height: 152px; background: lightgray;"
        alt=""
      />
    </div>
    <div class="nam">
      <div class="nam-inner mt-30">
        <h3>{{ selectedUser.displayName }}</h3>
        <span>{{ selectedUser.aliasName }}</span>
      </div>
      <!-- <a
        class="box-btn"
        href="#prosearch"
        data-toggle="modal"
        data-target="#prosearch"
        >Send Gig</a
      > -->
    </div>
    <div class="address mt-30 mb-20">
      <div class="location">
        <span>LOCATION</span>
        <p>{{ selectedUser.location }}</p>
      </div>
      <div
        class="social"
        *ngIf="
          facebookUrl !== '' ||
          twitterUrl !== '' ||
          instagramUrl ||
          '' ||
          youTubeUrl !== ''
        "
      >
        <span>Social</span>
        <ul class="social-link">
          <li *ngIf="facebookUrl !== ''">
            <a href="facebookUrl"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li *ngIf="twitterUrl !== ''">
            <a href="twitterUrl"><i class="fab fa-twitter"></i></a>
          </li>
          <li *ngIf="instagramUrl !== ''">
            <a href="instagramUrl"><i class="fab fa-instagram"></i></a>
          </li>
          <li *ngIf="youTubeUrl !== ''">
            <a href="youTubeUrl"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="description">
      <p>
        {{ selectedUser.shortDescription }}
      </p>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="pro-contest-head">
          <h4>CONTEST CREATED</h4>
        </div>
      </div>
      <div style="width: 300px;" *ngFor="let contest of selectedUser.contests">
        <div class="entries-img mb-20">
          <a
            [routerLink]="['/contests', contest.contestId]"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="visited"
            ><img
              [defaultImage]="contest.defaultContestBannerImage"
              [lazyLoad]="contest.fullContestBannerImage"
              style="background: lightgray;"
          /></a>
          <div class="entries-content all-ent">
            <span class="ent-num">{{ contest.entryCount }}</span>
          </div>
          <div class="entries-bot-cont">
            <h5>{{ contest.contestTitle }}</h5>
            <div class="action">
              <span
                ><img src="assets/img/gigs/eye.svg" alt="" />{{
                  contest.contestViewCount
                }}</span
              >
              <span
                ><img src="assets/img/gigs/heart.svg" alt="" />{{
                  contest.contestLikedByCount
                }}</span
              >
              <span
                ><img src="assets/img/message-icon.svg" alt="" />{{
                  contest.commentCount
                }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="entries-img mb-20">
          <a href="#"
            ><img src="assets/img/contest/all-contest-1.jpg" alt=""
          /></a>
          <div class="entries-content all-ent">
            <span class="ent-num">200 Entries</span>
          </div>
          <div class="entries-bot-cont">
            <h5>Top Lagos singer challenge</h5>
            <div class="action">
              <span><img src="assets/img/gigs/eye.svg" alt="" />2,030</span>
              <span><img src="assets/img/gigs/heart.svg" alt="" />2,030</span>
              <span><img src="assets/img/message-icon.svg" alt="" />2,030</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="entries-img mb-20">
          <a href="#"
            ><img src="assets/img/contest/all-contest-1.jpg" alt=""
          /></a>
          <div class="entries-content all-ent">
            <span class="ent-num">200 Entries</span>
          </div>
          <div class="entries-bot-cont">
            <h5>Top Lagos singer challenge</h5>
            <div class="action">
              <span><img src="assets/img/gigs/eye.svg" alt="" />2,030</span>
              <span><img src="assets/img/gigs/heart.svg" alt="" />2,030</span>
              <span><img src="assets/img/message-icon.svg" alt="" />2,030</span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
