<a *ngIf="(initiated$ | async) || (inProgress$ | async)"
  ><img src="assets/bars.svg" style="width: 30px; height: 30px"
/></a>

<a
  style="cursor: pointer"
  (click)="fetchTalentEntries()"
  *ngIf="failed$ | async"
  >Something went wrong. Refresh
  <img
    src="assets/retry.svg"
    style="width: 20px; height: 20px; margin: 0 auto"
    alt="Click button to retry"
/></a>

<div
  class="tab-pane fade show active row tab1"
  id="home"
  role="tabpanel"
  aria-labelledby="home-tab"
  *ngIf="completed$ | async"
>
  <div
    class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
    *ngFor="let contest of userContests; trackBy: trackByFn"
  >
    <div class="entries-img mb-20">
      <a
        [routerLink]="['/competitions', contest.contestId]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="visited"
      >
        <img
          [defaultImage]="contest.defaultContestBannerImage"
          [lazyLoad]="contest.fullContestBannerImage"
          style="width: 318px; height: 225px"
        />
      </a>
      <div class="entries-content all-ent">
        <span class="ent-num"
          >{{ contest.entryCount }}
          {{ contest.entryCount > 1 ? "Entries" : "Entry" }}</span
        >
      </div>
      <div class="entries-bot-cont">
        <h5>{{ contest.contestTitle }}</h5>
        <div class="action">
          <span
            ><img src="assets/img/gigs/eye.svg" alt="" />{{
              contest.contestViewCount
            }}</span
          >
          <span
            ><img src="assets/img/gigs/heart.svg" alt="" />{{
              contest.contestLikedByCount
            }}</span
          >
          <span
            ><img src="assets/img/message-icon.svg" alt="" />{{
              contest.commentCount
            }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="info-ta" *ngIf="userContests.length < 1">
    <p style="margin-left: 16px; margin-right: 16px">
      You have not participated in any contest. Click
      <a
        [routerLink]="['/competitions']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="visited"
        >here</a
      >
      to view contests
    </p>
  </div>
</div>
