<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
  <div class="entries-img mb-20">
    <a href="#"><img src="assets/img/contest/all-contest-1.jpg" alt=""/></a>
    <div class="entries-content all-ent">
      <span class="ent-num">200 Entries</span>
    </div>

    <div class="dropdown">
      <button
        class=" dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/rnd-grp-img.svg" alt="" />
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        x-placement="bottom-start"
        style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/message-iucon.svg" alt=""/></i>Send
          message</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/appoinment-icon.svg" alt=""/></i>Set
          Appointment</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/delet-icon.svg" alt=""/></i>Delete</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/block-icon.svg" alt=""/></i>Block</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
  <div class="entries-img mb-20">
    <a href="#"><img src="assets/img/contest/all-contest-1.jpg" alt=""/></a>
    <div class="entries-content all-ent">
      <span class="ent-num">200 Entries</span>
    </div>
    <div class="dropdown">
      <button
        class=" dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/rnd-grp-img.svg" alt="" />
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        x-placement="bottom-start"
        style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/message-iucon.svg" alt=""/></i>Send
          message</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/appoinment-icon.svg" alt=""/></i>Set
          Appointment</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/delet-icon.svg" alt=""/></i>Delete</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/block-icon.svg" alt=""/></i>Block</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
  <div class="entries-img mb-20">
    <a href="#"><img src="assets/img/contest/all-contest-1.jpg" alt=""/></a>
    <div class="entries-content all-ent">
      <span class="ent-num">200 Entries</span>
    </div>
    <div class="dropdown">
      <button
        class=" dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/rnd-grp-img.svg" alt="" />
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        x-placement="bottom-start"
        style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/message-iucon.svg" alt=""/></i>Send
          message</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/appoinment-icon.svg" alt=""/></i>Set
          Appointment</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/delet-icon.svg" alt=""/></i>Delete</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/block-icon.svg" alt=""/></i>Block</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
  <div class="entries-img mb-20">
    <a href="#"><img src="assets/img/contest/all-contest-1.jpg" alt=""/></a>
    <div class="entries-content all-ent">
      <span class="ent-num">200 Entries</span>
    </div>
    <div class="dropdown">
      <button
        class=" dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/rnd-grp-img.svg" alt="" />
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        x-placement="bottom-start"
        style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/message-iucon.svg" alt=""/></i>Send
          message</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/appoinment-icon.svg" alt=""/></i>Set
          Appointment</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/delet-icon.svg" alt=""/></i>Delete</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/block-icon.svg" alt=""/></i>Block</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
  <div class="entries-img mb-20">
    <a href="#"><img src="assets/img/contest/all-contest-1.jpg" alt=""/></a>
    <div class="entries-content all-ent">
      <span class="ent-num">200 Entries</span>
    </div>
    <div class="dropdown">
      <button
        class=" dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/rnd-grp-img.svg" alt="" />
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        x-placement="bottom-start"
        style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/message-iucon.svg" alt=""/></i>Send
          message</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/appoinment-icon.svg" alt=""/></i>Set
          Appointment</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/delet-icon.svg" alt=""/></i>Delete</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/block-icon.svg" alt=""/></i>Block</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
  <div class="entries-img mb-20">
    <a href="#"><img src="assets/img/contest/all-contest-1.jpg" alt=""/></a>
    <div class="entries-content all-ent">
      <span class="ent-num">200 Entries</span>
    </div>
    <div class="dropdown">
      <button
        class=" dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/rnd-grp-img.svg" alt="" />
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        x-placement="bottom-start"
        style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/message-iucon.svg" alt=""/></i>Send
          message</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/appoinment-icon.svg" alt=""/></i>Set
          Appointment</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/delet-icon.svg" alt=""/></i>Delete</a
        >
        <a class="dropdown-item" href="#"
          ><i><img src="assets/img/block-icon.svg" alt=""/></i>Block</a
        >
      </div>
    </div>
  </div>
</div>
