<div class="tab-pane fade show active">
  <div class="profile-alb">
    <div class="row">
      <div class="col-xl-12">
        <div class="profile-alb-head">
          <p>Add your previous works showcasing your talents, upload only high quality audio, video and
            pictures that best highlight your talent</p>
        </div>
      </div>
    </div>
    <div class="row mb-50">
      <div class="col-xl-12">
        <div class="profile-alb-head">
          <h4>Pictures Album<span>(6 albums)</span></h4>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-50">
      <div class="col-xl-12">
        <div class="profile-alb-head">
          <h4>Pictures Album<span>(6 albums)</span></h4>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <div class="profile-alb-wrapper mb-30">
          <div class="alb-image">
            <img src="assets/img/profile/alb-pic-1.jpg" alt="">

            <div class="edit">
              <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
            </div>
            <div class="delete">
              <a><img src="assets/img/profile/cross.svg" alt="">Delete</a>
            </div>
            <span class="alb-counter">20</span>
          </div>
          <div class="alb-content">
            <h4>My night at feta</h4>
            <p>At ullam sint esse. Ipsum libero beatae dignissimos et earum reiciendis aut iure. Reiciendis
              occaecati accusamus. Iste accusantium rerum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="profile-alb-head">
          <h4>General Audio<span>(6 audios)</span></h4>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="audio-wrapper mb-30">
          <div class="audio-img">
            <img src="assets/img/profile/audio-1.jpg" alt="">
            <div class="plays">
              <a href="#"><img src="assets/img/profile/play.svg" alt=""></a>
            </div>
            <div class="cros">
              <a><img src="assets/img/profile/cross.svg" alt=""></a>
            </div>
          </div>
          <div class="audio-content">
            <div class="content-head">
              <span class="audio-hd">Proin imperdiet </span>
              <div class="edit">
                <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
              </div>
            </div>
            <p>The quick, brown fox jumps over a lazy dog</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="audio-wrapper mb-30">
          <div class="audio-img">
            <img src="assets/img/profile/audio-1.jpg" alt="">
            <div class="plays">
              <a href="#"><img src="assets/img/profile/play.svg" alt=""></a>
            </div>
            <div class="cros">
              <a><img src="assets/img/profile/cross.svg" alt=""></a>
            </div>
          </div>
          <div class="audio-content">
            <div class="content-head">
              <span class="audio-hd">Proin imperdiet </span>
              <div class="edit">
                <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
              </div>
            </div>
            <p>The quick, brown fox jumps over a lazy dog</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="audio-wrapper mb-30">
          <div class="audio-img">
            <img src="assets/img/profile/audio-1.jpg" alt="">
            <div class="plays">
              <a href="#"><img src="assets/img/profile/play.svg" alt=""></a>
            </div>
            <div class="cros">
              <a><img src="assets/img/profile/cross.svg" alt=""></a>
            </div>
          </div>
          <div class="audio-content">
            <div class="content-head">
              <span class="audio-hd">Proin imperdiet </span>
              <div class="edit">
                <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
              </div>
            </div>
            <p>The quick, brown fox jumps over a lazy dog</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="audio-wrapper mb-30">
          <div class="audio-img">
            <img src="assets/img/profile/audio-1.jpg" alt="">
            <div class="plays">
              <a href="#"><img src="assets/img/profile/play.svg" alt=""></a>
            </div>
            <div class="cros">
              <a><img src="assets/img/profile/cross.svg" alt=""></a>
            </div>
          </div>
          <div class="audio-content">
            <div class="content-head">
              <span class="audio-hd">Proin imperdiet </span>
              <div class="edit">
                <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
              </div>
            </div>
            <p>The quick, brown fox jumps over a lazy dog</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="audio-wrapper mb-30">
          <div class="audio-img">
            <img src="assets/img/profile/audio-1.jpg" alt="">
            <div class="plays">
              <a href="#"><img src="assets/img/profile/play.svg" alt=""></a>
            </div>
            <div class="cros">
              <a><img src="assets/img/profile/cross.svg" alt=""></a>
            </div>
          </div>
          <div class="audio-content">
            <div class="content-head">
              <span class="audio-hd">Proin imperdiet </span>
              <div class="edit">
                <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
              </div>
            </div>
            <p>The quick, brown fox jumps over a lazy dog</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="audio-wrapper mb-30">
          <div class="audio-img">
            <img src="assets/img/profile/audio-1.jpg" alt="">
            <div class="plays">
              <a href="#"><img src="assets/img/profile/play.svg" alt=""></a>
            </div>
            <div class="cros">
              <a><img src="assets/img/profile/cross.svg" alt=""></a>
            </div>
          </div>
          <div class="audio-content">
            <div class="content-head">
              <span class="audio-hd">Proin imperdiet </span>
              <div class="edit">
                <a><img src="assets/img/profile/edit.svg" alt="">Edit</a>
              </div>
            </div>
            <p>The quick, brown fox jumps over a lazy dog</p>
          </div>
        </div>
      </div>
      <div class="col-xl-12">

        <div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="upModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content contest-d">
              <div class="row">
                <div class="col-xl-12">
                  <div class="pop-icon-bar pop-talent">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><i class="far fa-times"></i></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-xl-12">
                  <div class="p-complete-p-btn">
                    <div class="p-inner">
                      <h4><svg xmlns="http://www.w3.org/2000/svg" width="190" height="27" viewBox="0 0 190 27">
                          <text id="New_portfolio_upload" data-name="New portfolio upload" transform="translate(0 22)"
                            fill="#272424" font-size="20" font-family="SegoeUI, Segoe UI">
                            <tspan x="0" y="0">New portfolio upload</tspan>
                          </text>
                        </svg>
                      </h4>
                      <div class="bbbtn">
                        <a class="comm sin" href="#">Single upload</a>
                        <a class="comm mult" href="#">Multiple upload</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="popup-img pp">
                    <img src="assets/img/talent/pop-talent.jpg" alt="">
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="popup-content-wrap pp">
                    <div class="upload-scene-demo popup mb-20">
                      <div class="scene-inner pp">
                        <div class="scene-img">
                          <img src="assets/img/gigs/demo-upload.png" alt="">
                          <a href="#"><img src="assets/img/profile/cross.svg" alt="Cross-btn"></a>
                        </div>
                        <div class="scene-img">
                          <img src="assets/img/gigs/demo-upload.png" alt="">
                          <a href="#"><img src="assets/img/profile/cross.svg" alt="Cross-btn"></a>
                        </div>
                        <div class="scene-img">
                          <img src="assets/img/gigs/demo-upload.png" alt="">
                          <a href="#"><img src="assets/img/profile/cross.svg" alt="Cross-btn"></a>
                        </div>
                        <div class="scene-img">
                          <img src="assets/img/gigs/demo-upload.png" alt="">
                          <a href="#"><img src="assets/img/profile/cross.svg" alt="Cross-btn"></a>
                        </div>
                        <div class="scene-img">
                          <img src="assets/img/gigs/demo-upload.png" alt="">
                          <a href="#"><img src="assets/img/profile/cross.svg" alt="Cross-btn"></a>
                        </div>
                        <div class="demo-upload-plus pp">
                          <a href="#"><i class="fal fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <form action="#">
                      <div class="input-1 pro-page pp">
                        <label for="">Album/folder Title</label>
                        <input type="text" class="input-design">
                      </div>
                      <div class="input-1 pro-page pp">
                        <label for="">Short about <span><em>Word count restriction here</em></span></label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                      </div>
                      <div class="git-btn pp">
                        <button class="box-btn">ADD TO PORTFOLIO</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="social-media prot">
          <a href="upModal" data-toggle="modal" data-target="#upModal">+ Add new uploads</a>
        </div>
        <button class="box-btn profile-save">SAVE CHANGES</button>
      </div>
    </div>
  </div>
</div>