<app-modals [id]="'new-entry'">
  <div class="pop-icon-bar pop-talent" navigate>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('new-entry')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
  <app-new-wallet></app-new-wallet>>
</app-modals>

<!-- <app-modals [id]="'talent-entry-details'">
  <div class="pop-icon-bar" navigate style="padding-right: 16px;">
    <div class="slide-arrow" style="margin-top: 8px;">
      <button class="left" [disabled]="leftDisabled" (click)="onPrevious()">
        <i class="far fa-angle-left"></i>
      </button>
      <button class="right" [disabled]="rightDisabled" (click)="onNext()">
        <i class="far fa-angle-right"></i>
      </button>
    </div>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('talent-entry-details')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
<app-request-payout></app-request-payout>
</app-modals> -->



<p>wallet balance!</p>
<p>create new wallet</p>
<p>request payout</p>
