<app-modals [id]="'new-entry'">
  <div class="pop-icon-bar pop-talent" navigate>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('new-entry')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
  <app-new-wallet></app-new-wallet>>
</app-modals>

<!-- <app-modals [id]="'talent-entry-details'">
  <div class="pop-icon-bar" navigate style="padding-right: 16px;">
    <div class="slide-arrow" style="margin-top: 8px;">
      <button class="left" [disabled]="leftDisabled" (click)="onPrevious()">
        <i class="far fa-angle-left"></i>
      </button>
      <button class="right" [disabled]="rightDisabled" (click)="onNext()">
        <i class="far fa-angle-right"></i>
      </button>
    </div>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('talent-entry-details')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
<app-request-payout></app-request-payout>
</app-modals> -->

<div class="row ml-0 mr-0 wallet-container">
  <div class="col-lg-5 col-sm-12 wallet-summary">
    <div class="bg-white p-3">
      <div class="wallet-balance">
        <span class="wallet-balance-text d-block">Wallet Balance</span>
        <span class="wallet-balance-amount d-block">N 0.00</span>
      </div>
      <div class="wallet-owner">
        <span class="wallet-owner-text d-block font-weight-bold"
          >CVWallet - CROWDYVESTLIM/ADETOYE OYEBISI</span
        >
        <span class="wallet-id d-block">Wallet ID - 823892378</span>
      </div>
      <div class="mt-4">
        <a href="#" class="wallet-btn">Withdraw</a>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-sm-12 wallet-transaction">
      <div class="transaction-amount-container">
        <span class="transaction-type d-block">Narration here</span>
        <span class="transaction-amount credit d-block"
          >N 30, 000</span
        >
        <span class="transaction-time">30th July, 2000 @ 12:00 am</span>
      </div>
      <div class="transaction-amount-container">
        <span class="transaction-type d-block">Narration here</span>
        <span class="transaction-amount debit d-block"
          >N 30, 000</span
        >
        <span class="transaction-time">30th July, 2000 @ 12:00 am</span>
      </div>
  </div>
</div>
