<app-modals [id]="'new-wallet'">
  <div class="pop-icon-bar pop-talent" navigate>
    <span class="modal-title">New Wallet</span>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('new-wallet')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
  <app-new-wallet body></app-new-wallet>
</app-modals>

<app-modals [id]="'wallet-tranfer'">
  <div class="pop-icon-bar pop-talent" navigate>
    <span class="modal-title">Withdraw Fund</span>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('wallet-tranfer')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
  <app-request-payout body></app-request-payout>
</app-modals>

<app-modals [id]="'account-setup'">
  <div class="pop-icon-bar pop-talent" navigate>
    <span class="modal-title">Bank Account Setup</span>
    <button
      type="button"
      class="close"
      (click)="closeModalDialog('account-setup')"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="far fa-times"></i></span>
    </button>
  </div>
  <app-account-setup body></app-account-setup>
</app-modals>

<div class="row ml-0 mr-0 wallet-container">
  <div class="col-lg-5 col-sm-12 wallet-summary">
    <div class="p-3" *ngIf="!walletData">
      <a
        (click)="
          openModalDialog(
            'new-wallet',
            'modal-content contest-d transfer-wallet'
          )
        "
        class="wallet-btn"
        style="margin: 0 auto; cursor: pointer;"
        >Create Wallet</a
      >
    </div>
    <div class="bg-white p-3" *ngIf="walletData">
      <div class="wallet-balance">
        <span class="wallet-balance-text d-block">Wallet Balance</span>
        <span class="wallet-balance-amount d-block">{{
          walletData?.balance | currency: "NGN":"symbol":"4.2-2"
        }}</span>
      </div>
      <div class="wallet-owner">
        <span class="wallet-owner-text d-block font-weight-bold"
          >UPWallet - UNTAPPEDPOOL/{{ walletData?.user.name }}</span
        >
        <span class="wallet-id d-block"
          >Wallet ID - {{ walletData?.walletNmber }}</span
        >
        <div *ngIf="userAccountDetails">
          <span class="wallet-id d-block"
            >Bank Name - {{ userAccountDetails.bankName }}</span
          >
          <span class="wallet-id d-block"
            >Account Name - {{ userAccountDetails.accountName }}</span
          >
          <span class="wallet-id d-block"
            >Account Number - {{ userAccountDetails.accountNumber }}</span
          >
        </div>
      </div>
      <div class="mt-4">
        <button
          [disabled]="walletData?.balance < 100"
          class="wallet-btn"
          style="cursor: pointer; display: inline-block;"
          (click)="
            onWithdraw(
              'wallet-tranfer',
              'modal-content contest-d transfer-wallet'
            )
          "
        >
          Withdraw
        </button>

        <button
          class="wallet-btn"
          style="
            cursor: pointer;
            display: inline-block;
            width: 123px !important;
          "
          *ngIf="!userAccountDetails"
          [disabled]="userAccountDetails"
          (click)="
            onSetupAccount(
              'account-setup',
              'modal-content contest-d account-setup'
            )
          "
        >
          Set up account
          <!-- <span *ngIf="userAccountDetails">Change account</span> -->
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-sm-12 wallet-transaction">
    <div class="transaction-amount-container">
      <span class="transaction-type d-block">Narration here</span>
      <span class="transaction-amount credit d-block">N 30, 000</span>
      <span class="transaction-time">30th July, 2000 @ 12:00 am</span>
    </div>
    <div class="transaction-amount-container">
      <span class="transaction-type d-block">Narration here</span>
      <span class="transaction-amount debit d-block">N 30, 000</span>
      <span class="transaction-time">30th July, 2000 @ 12:00 am</span>
    </div>
  </div>
</div>
