<div class="row no-gutters">
    <div class="col-xl-6 col-lg-6 col-12">
      <div class="popup-img">
        <img src="assets/img/contest/popup-1.jpg" alt="" />
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-12">
      <div class="popup-content-wrap">
        <div class="user-part">
          <div class="p-user">
            <div class="p-user-img">
              <img src="assets/img/contest/popup-user.png" alt="" />
            </div>
            <h5>Fred Fadel</h5>
          </div>
          <div class="p-user-content">
            <h4>Dorobuchi remix</h4>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam
            </p>
          </div>
          <div class="pop-btn">
            <a class="box-btn details-btn pop" href="#"
              >VOTE THIS ENTRY</a
            >
            <span class="numb">Votes (560)</span>
          </div>
          <div class="info-xt">
            <p>20 Votes left</p>
            <a href="">Buy more vote </a>
            <span>or</span>
            <p>Text "BESTRAP 103 Marvel Fash" To 55609</p>
          </div>
        </div>
        <div class="comment-part">
          <span class="comment-num">Coments (560)</span>
          <div class="comment-acheive">
            <img src="assets/img/contest/sms.png" alt="" />
            <a
              href="#collapseExample"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
              >Add your comment</a
            >
          </div>
        </div>
        <div class="collapse cmnt-bx" id="collapseExample">
          <div class="card card-body">
            <textarea
              name=""
              id=""
              cols="10"
              rows="5"
              placeholder="Write your comment here..."
            ></textarea>
            <button type="submit">Send</button>
          </div>
        </div>
        <div class="pop-review-outer-section">
          <div class="pop-review-section">
            <div class="p-rv-head">
              <div class="p-rev-img">
                <img src="assets/img/contest/popup-user.png" alt="" />
              </div>
              <div class="p-rv-name">
                <h5>Oluwaleke Ojo</h5>
              </div>
              <span class="p-time">20 days ago </span>
            </div>
            <div class="p-rv-content">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo
              </p>
              <div class="pop-express">
                <div class="p-like-reply">
                  <span class="reply">Reply</span>
                  <span class="like">Like?</span>
                </div>
                <span class="react">
                  20
                  <img src="assets/img/contest/p-love.png" alt="" />
                </span>
              </div>
            </div>
          </div>
          <div class="pop-review-section">
            <div class="p-rv-head">
              <div class="p-rev-img">
                <img src="assets/img/contest/popup-user.png" alt="" />
              </div>
              <div class="p-rv-name">
                <h5>Oluwaleke Ojo</h5>
              </div>
              <span class="p-time">20 days ago </span>
            </div>
            <div class="p-rv-content">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo
              </p>
              <div class="pop-express">
                <div class="p-like-reply">
                  <span class="reply">Reply</span>
                  <span class="like">Like?</span>
                </div>
                <span class="react">
                  20
                  <img src="assets/img/contest/p-love.png" alt="" />
                </span>
              </div>
            </div>
          </div>
          <div class="pop-review-section">
            <div class="p-rv-head">
              <div class="p-rev-img">
                <img src="assets/img/contest/popup-user.png" alt="" />
              </div>
              <div class="p-rv-name">
                <h5>Oluwaleke Ojo</h5>
              </div>
              <span class="p-time">20 days ago </span>
            </div>
            <div class="p-rv-content">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo
              </p>
              <div class="pop-express">
                <div class="p-like-reply">
                  <span class="reply">Reply</span>
                  <span class="like">Like?</span>
                </div>
                <span class="react">
                  20
                  <img src="assets/img/contest/p-love.png" alt="" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>