<!-- All -Contest Area Start -->
<app-tabs>
  <div class="tab-content" id="myTabContent">
    <app-all-contest
      *ngIf="
        activeTab.tag === tabPanel.tabs[0].tag &&
        currentUserType === 'Professional'
      "
    ></app-all-contest>
    <app-new-contest
      *ngIf="
        activeTab.tag === tabPanel.tabs[1].tag &&
        currentUserType === 'Professional'
      "
    ></app-new-contest>
    <app-sms-vote
      *ngIf="
        activeTab.tag === tabPanel.tabs[2].tag &&
        currentUserType === 'Professional'
      "
    >
    </app-sms-vote>
    <!-- <app-competition-report
      *ngIf="
        activeTab.tag === tabPanel.tabs[3].tag &&
        currentUserType === 'Professional'
      "
    >
    </app-competition-report> -->
    <!-- <app-setting
      *ngIf="
        activeTab.tag === tabPanel.tabs[3].tag &&
        currentUserType === 'Professional'
      "
    ></app-setting> -->
  </div>
</app-tabs>

<!-- All-Contest Area End -->
