<!-- Gig-one Area Start -->
<div class="gig-one-area pt-70 pb-150 fx-padding">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10">
        <div class="gig-header mb-45">
          <h3>General Terms & Conditions</h3>
          <p>
            Untapped Pool
          </p>
        </div>
      </div> -->
    </div>
    <div class="main-gigs-wrapper">
      <div class="row">
        <div class="col-xl-12">
          <div class="gigs-counter">
            <div class="single active">
              <span
                >Competition Terms & Conditions – Last update
                {{ termsLastUpdateDate }}</span
              >
            </div>
          </div>
          <div class="gigs-view-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="about-author mb-40">
                  <h5><b>Competition Guidelines</b></h5>
                  <p>
                    These general terms and conditions shall feature on all our
                    competitions on the website and our on social media
                    platforms.
                  </p>
                  <h4><b>1 Enforcement</b></h4>
                  <p>
                    1.1 All of our competitions will be subject to these
                    Competition Terms and Conditions. You will be bound by these
                    Terms when you enter or participate in any Competition or
                    accept any prize you have won If these Competition Terms and
                    Conditions supersedes any other rules on our competition.
                  </p>
                  <p>
                    1.2 We may add to, amend or vary these Competition Terms and
                    Conditions from time to time, at our discretion.
                  </p>
                  <p>
                    1.3 You agree to co-operate with and comply with all
                    reasonable requests made by us in connection with any
                    Competition and our broadcast.
                  </p>
                  <h4><b>2 Eligibility and Entry Criteria</b></h4>
                  <p>
                    2.1 In order to make a valid entry into a Competition you
                    must enter as an individual using your required legal
                    personal details and make only one entry per Competition.
                  </p>
                  <p>
                    2.2 You may not enter a Competition if you have entered your
                    personal details that are unlawful or contrary to these
                    rules, and we reserve the right, in our sole discretion, to
                    decide whether or not eligibility criteria have been met.
                  </p>
                  <h4><b>3 Entering a Competition</b></h4>
                  <p>
                    3.1 Entries by text message must be sent to the applicable
                    short code as advertised on-air or online. Please be aware
                    that short codes may change from Competition to Competition.
                    You will pay any text messaging charges via any service
                    provider of your choice.
                  </p>
                  <p>
                    3.2 Please take care to follow the exact online Competition
                    entry instructions. We cannot guarantee Competition entry
                    for mis-spelt or void entry.
                  </p>
                  <p>
                    3.3 A text message vote via any short code will vary from
                    competition to competition.
                  </p>
                  <h4><b>4 Sponsoring a competition</b></h4>
                  <p>
                    4 1 In order to sponsor any competition, you shall be
                    required to provide your legal details on website. You can
                    also set out the type of competition or the criteria you
                    want set for the competition, provided they are subject to
                    these rules. The criteria you may set may include the age of
                    the participants, the prizes, the duration of the
                    competition etc, subject to these rules.
                  </p>
                  <h4><b>5 Prizes</b></h4>
                  <p>
                    5.1 If you win any competition, you will be announced on the
                    website and on our social media platforms, and you will be
                    able to directly claim your prize money immediately from
                    your wallet in your profile on our website.
                  </p>
                  <p>
                    5.2 You will not win more than one Prize per Competition.
                  </p>
                  <p>
                    5.3 No fee is payable by you in respect of your involvement
                    in the Competition and you will not pay any fee to enter any
                    competition. All entries are free.
                  </p>
                  <h4><b>6 Confidentiality and Publicity</b></h4>
                  <p>
                    6.1 You agree to keep confidential any information which you
                    know or reasonably ought to know is confidential and relates
                    to us, our website or any Competition or Prize.
                  </p>
                  <p>
                    6.2 You agree to participate, at our request, in publicity
                    and you acknowledge that we own all Intellectual Property
                    Rights over all contents in our website, and may use at our
                    absolute discretion, such publicity. We may refer to your
                    association with the Competition and/or the Prize in all
                    publicity materials.
                  </p>
                  <h4><b>7 Intellectual Property Rights</b></h4>
                  <p>
                    7.1 By entering a Competition or submitting a video, image,
                    audio file or any other materials in relation to a
                    Competition or Prize, you confirm the grant by you to us the
                    Intellectual Property Rights in the use of our website or
                    Competition entry, and warrant to us that the Competition
                    entry:
                  </p>
                  <p>
                    7.1.1 are personal and related specifically to you;
                  </p>
                  <p>
                    7.1.2 are owned and controlled by you;
                  </p>
                  <p>
                    7.1.3 will not infringe the Intellectual Property Rights,
                    privacy or any other rights of any third party;
                  </p>
                  <p>
                    7.1.4 will not contain anything which is untrue, defamatory,
                    obscene, indecent, harassing or threatening;
                  </p>
                  <p>
                    7.1.5 do not violate any applicable law or regulation
                    (including any laws regarding anti-discrimination or
                    impersonation);
                  </p>
                  <p>
                    7.1.6 are not obscene or pornographic;
                  </p>
                  <p>
                    7.1.7 do not, to the best of the your knowledge, contain any
                    viruses or other computer programming routines that are
                    intended to damage, detrimentally interfere with,
                    surreptitiously intercept or expropriate any system, data or
                    personal information;
                  </p>
                  <p>
                    7.1.8 are free from any encumbrances or claims by a third
                    party.
                  </p>
                  <p>
                    7.2 For the avoidance of doubt, all rights relating to the
                    Competition (including the name, title and format of the
                    Competition) will vest exclusively in the sponsors of any
                    competition for our own use (in our absolute discretion).
                  </p>
                  <p>
                    7.3 Unless otherwise stated, Competition entries will not be
                    returned to you.
                  </p>
                  <p>
                    7.4 Any personal data submitted by you will be used solely
                    in accordance with current Nigeria data protection
                    legislation and our privacy policy.
                  </p>
                  <h4><b>8 Disqualification</b></h4>
                  <p>
                    8.1 We reserve the right (without accepting any liability or
                    giving you any compensation) to disqualify you from a
                    Competition and/or withhold or withdraw a Prize (or seek
                    compensation from you therefor) if (in our opinion, which
                    shall be final):
                  </p>
                  <p>
                    8.1.1 you are in breach of the Terms or any of your
                    obligations, representations and/or warranties under this
                    Agreement;
                  </p>
                  <p>
                    8.1.2 your conduct is inappropriate or contrary to the
                    spirit or intention of the Terms or of the Competition;
                  </p>
                  <p>
                    8.1.3 you have committed or undertaken any fraud,
                    dishonesty, deceit, misconduct or similar action including
                    providing any false or incorrect information;
                  </p>
                  <p>
                    8.1.4 your act(s) or omission(s) might have an adverse
                    effect on the Competition or website;
                  </p>
                  <p>
                    8.1.5 it is in our best interests (or that of the website)
                    to do so.
                  </p>
                  <p>
                    8.2 Entries that are incomplete, indecipherable, corrupt,
                    late or otherwise not in accordance with entry instructions
                    will not be accepted.
                  </p>
                  <p>
                    8.3 In the event of your disqualification from the
                    Competition/Prize:
                  </p>
                  <p>
                    8.3.1 we reserve the right to select another Entrant to take
                    part in the Competition/receive the Prize;
                  </p>
                  <h4><b>Waiver</b></h4>
                  <p>
                    If you breach these conditions and we take no action, we
                    will still be entitled to use our rights and remedies in any
                    other situation where you breach these conditions.
                  </p>
                  <h4><b>9 Cancellation of the Competition</b></h4>
                  <p>
                    9.1 We shall be entitled, in our reasonable discretion, to
                    cancel, delay and/or recommence a Competition with immediate
                    effect by announcement on our social media platforms or our
                    website without any liability to you.
                  </p>
                  <p>
                    9.2 We may cancel a Competition if we believe we have good
                    reason to do so, including if:
                  </p>
                  <p>
                    9.2.1 a broadcasting, publicity or error of any kind occurs
                    (whether on our website or otherwise);
                  </p>
                  <p>
                    9.2.2 there have been any errors in the preparation for, or
                    the conduct of, the Competition materially affecting the
                    result of the Competition, the number of Prize claims or the
                    value of the Prize claims.
                  </p>
                  <h4><b>10 Exclusion of liability/indemnity</b></h4>
                  <p>
                    10.1 Without prejudice to the provisions of Clause 11.1 and
                    subject to the provisions of Clause
                  </p>
                  <p>
                    10.2 we shall have no liability whatsoever:
                  </p>
                  <p>
                    10.2.1 in respect of Competitions operated by third parties
                    (sponsors or professionals) and featured on our website. The
                    relevant third party will be responsible for the fulfilment
                    of the Competition. We accept no responsibility for the acts
                    or omissions of such third parties;
                  </p>
                  <p>
                    10.2.2 in the event of text message votes or website entries
                    delayed or not received by us as a result of network
                    incompatibility, technical faults or for any other reason;
                  </p>
                  <p>
                    10.2.3 for any person not being able to enter a Competition
                    for any reason, including system failure, error, the
                    application through which online entries are made being
                    down, hacks on the system or personal computer issues;
                  </p>
                  <p>
                    10.2.4 for any losses suffered by you in submitting data to
                    any of our websites;
                  </p>
                  <p>
                    10.2.5 for Prizes which are delayed or otherwise not
                    received by you.
                  </p>
                  <p>
                    10.3 You agree to indemnify us against all costs, losses,
                    damages, expenses and liabilities (including for loss of
                    reputation and goodwill and professional fees) suffered by
                    us arising as a result of a breach by you of your
                    obligations under the Terms or in any way in connection with
                    your failure to follow our reasonable instructions with
                    regard to your entry into the Competition or taking of any
                    Prize.
                  </p>
                  <h4><b>11 Force Majeure</b></h4>
                  <p>
                    11.1 We shall not be liable to perform any of our
                    obligations under the Competition or in respect of the
                    Prizes where we are unable to do so as a result of
                    unforeseen circumstances or circumstances beyond our
                    reasonable control such as pandemic, endemic or other
                    natural disaster, and whilst we may (but shall not be
                    obliged to) endeavor to provide an alternative Prize of
                    equal value, we shall not be liable to compensate you in
                    such circumstances.
                  </p>
                  <h4><b>12 General</b></h4>
                  <p>
                    12.1 You agree you will not by any act or omission do
                    anything, which might bring any competition into disrepute
                    or affect the reputation of any Competition or website.
                  </p>
                  <p>
                    12.2 The Terms shall be governed and construed in accordance
                    with the laws of Nigeria and you and we submit to the
                    exclusive jurisdiction of the Courts of Nigeria.
                  </p>
                  <p>
                    12.3 The terms represent the entire agreement between you
                    and us relating to the Competition and/or the Prize and
                    supersede any prior representations, agreements,
                    negotiations or understandings (whether oral or in writing).
                    No variation of the Terms is effective unless approved by an
                    authorized representative of website in writing.
                  </p>
                  <p>
                    12.4 Except as specifically set out herein, all conditions,
                    warranties and representations expressed or implied by law
                    are excluded.
                  </p>
                  <p>
                    12.5 The invalidity, illegality, or unenforceability of the
                    whole or any part of the Terms does not affect or impair the
                    continuation in force of the remainder of the Terms.
                  </p>
                  <p>
                    12.6 The failure to exercise or delay in exercising a right
                    or remedy provided hereunder or by law does not constitute a
                    waiver of the right or remedy or waiver of other rights or
                    remedies.
                  </p>
                  <p>
                    12.7 This Agreement does not create any right or benefit
                    enforceable by any person not a party to it (within the
                    meaning of the relevant laws relating to contracts).
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gig-one Area End -->
